.btn, button
	display: inline-flex
	align-items: center
	padding: 0
	border: 0
	background-color: $trsp
	font-family: inherit
	font-size: 13px
	font-weight: 400
	white-space: nowrap
	outline: none!important
	transition: $trs
	&:hover
		color: inherit

.btn
	height: 60px
	padding: 16px 26px
	border-radius: 5px
	text-align: center
	background-color: $accent
	color: $white
