/* ==========================================================================
	 Base customize for cards
	 ========================================================================== */
.card
	box-sizing: border-box
	position: relative
	height: 100%
	background-color: $white
	transition: $trs
	&-photo
		position: relative
		background-color: rgba($border, 0.25)
		img
			width: 100%
			height: 100%
			object-fit: cover
			transition: transform .45s ease
		&-zoom
			img
				transform: scale(1.01)
	&-meta
		.date
			display: inline-block
			margin-bottom: 20px
			padding: 10px 20px
			border-radius: 5px
			background-color: #ede6f0
			line-height: 1
			white-space: nowrap
		.title,
		.author
			display: block
			line-height: 1.3
	&:hover
		.card-photo-zoom
			img
				transform: scale(1.1)


/* ==========================================================================
	 Banner card
	 ========================================================================== */
.card-banner
	display: flex
	flex-direction: column
	justify-content: space-between
	width: 210px
	padding: 20px 20px 25px
	border-radius: 5px
	box-shadow: 0 3px 24px 1px rgba(68, 68, 79, 0.08)
	+media-breakpoint-down(lg)
		width: 100%
	+media-breakpoint-down(sm)
		padding: 20px
		border-bottom: 1px solid $white
	+media-breakpoint-down(xs)
		padding: 15px
	+media-breakpoint-down(xxs)
		padding: 20px
	.card-photo
		position: relative
		flex: 1 1 100%
		overflow: hidden
		margin-bottom: 30px
		background-color: $trsp
		text-align: center
		img
			border-radius: 5px
			width: auto
			height: auto
	.card-meta
		.title
			font-size: 15px
			text-align: center
			line-height: 1.2
		.btn
			margin-top: 20px
			width: 100%
			min-width: auto


/* ==========================================================================
	 Show More card
	 ========================================================================== */
.card-show-more
	display: block
	width: 210px
	padding: 20px 20px 25px
	border-radius: 5px
	box-shadow: 0 3px 24px 1px rgba(68, 68, 79, 0.08)
	+media-breakpoint-down(lg)
		width: 100%
	+media-breakpoint-down(sm)
		padding: 20px
		border-bottom: 1px solid $white
	+media-breakpoint-down(xs)
		padding: 15px
	+media-breakpoint-down(xxs)
		padding: 20px
	&-inner
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		height: 100%
		padding: 20px 10px
		border-radius: 5px
		border: 1px solid $border
		transition: background-color .35s ease
	&-icon
		display: flex
		align-items: center
		justify-content: center
		width: 96px
		height: 96px
		border-radius: 50%
		background-color: $accent
		color: $white
		font-size: 50px
		transform: scaleX(-1)
		transition: $trs
		+media-breakpoint-down(lg)
			width: 72px
			height: 72px
			font-size: 36px
		+media-breakpoint-down(md)
			width: 86px
			height: 86px
			font-size: 42px
		+media-breakpoint-down(sm)
			width: 72px
			height: 72px
			font-size: 36px
		+media-breakpoint-down(xs)
			width: 58px
			height: 58px
			font-size: 30px
	&-title
		margin-top: 40px
		text-align: center
		line-height: 1.4
		+media-breakpoint-down(sm)
			margin-top: 20px
			font-size: 14px
	&:hover
		.card-show-more
			&-inner
				background-color: #f9f9f9
			&-icon
				background-color: #528f9b
				color: $white
	&:active
		.card-show-more
			&-inner
				background-color: #f8f8f8
			&-icon
				background-color: darken(#528f9b, 5%)

/* ==========================================================================
	 Product card
	 ========================================================================== */
.card-product
	position: relative
	display: flex
	flex-direction: column
	width: 210px
	padding: 20px 20px 25px
	border-radius: 5px
	border: 1px solid $white
	border-bottom: 0
	box-shadow: 0 3px 24px 1px rgba(68, 68, 79, 0.08)
	&.no-attributes
		border-bottom: 1px solid $white
		&:hover
			border-radius: 5px
		.card-attributes
			display: none
	+media-breakpoint-down(lg)
		width: 100%
	+media-breakpoint-down(sm)
		padding: 20px
		border-bottom: 1px solid $white
	+media-breakpoint-down(xs)
		padding: 15px
	+media-breakpoint-down(xxs)
		padding: 20px
	&:hover
		z-index: 4
		border-radius: 5px 5px 0 0
		border-color: $accent
		+media-breakpoint-down(sm)
			border-radius: 5px
		.card-quick-view
			visibility: visible
			opacity: 1
		.card-gallery-item._active img,
		.card-photo img
			transform: scale(1.1)
		.card-attributes
			pointer-events: auto
			transform: translate3d(0, 0, 0)
			visibility: visible
			opacity: 1
	.card-delete
		position: absolute
		top: 10px
		left: 10px
		z-index: 3
		display: flex
		align-items: center
		justify-content: center
		width: 24px
		height: 24px
		border-radius: 4px
		background-color: #d5d3d5
		color: $white
		font-size: 14px
		line-height: 1
		&:hover
			background-color: #e71836
			color: $white
		&:active
			background-color: darken(#e71836, 5%)
	.card-quick-view
		position: absolute
		z-index: 2
		top: -1px
		left: 0
		right: 0
		text-align: center
		visibility: hidden
		opacity: 0
		transition: .2s ease
		+media-breakpoint-down(sm)
			display: none
		.btn
			min-width: auto
			width: 82px
			height: 40px
			padding: 0
			border-radius: 0 0 5px 5px
			border: 1px solid $accent
			color: $accent
			font-size: 11px
			font-weight: 500
			white-space: normal
			line-height: 1.2
			&:hover
				border-color: #2c6e7d
				background-color: #2c6e7d
				color: $white
	.card-badge
		pointer-events: none
		user-select: none
		overflow: hidden
		position: absolute
		top: -5px
		right: -5px
		z-index: 3
		.badge
			width: 78px
			height: 80px
			color: $white
			font-size: 9px
			font-weight: 400
			line-height: 60px
			text-align: center
			text-transform: uppercase
			letter-spacing: 0.2px
			transform: rotate(45deg)
			&::before
				content: ''
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				z-index: -1
				mask: url('../images/product-badge.svg') no-repeat 100% 100%
				mask-size: cover
				transform: rotate(-45deg)
			&--green::before
				background-image: linear-gradient(-248deg, #29b153 0%, #36a358 100%)
			&--orange::before
				background-image: linear-gradient(-248deg, #f98221 0%, #e8780c 100%)
			&--red::before
				background-image: linear-gradient(-248deg, #e53237 0%, #df2134 100%)
			&--blue::before
				background-image: linear-gradient(-248deg, #00bbdf 0%, #069cb9 100%)
	.card-gallery
		position: relative
		display: flex
		margin-bottom: 30px
		border-radius: 5px
		border: 1px solid rgba($accent, 0.15)
		background-color: rgba(#f5f5f5, 0.15)
		&-item
			flex-grow: 1
			height: 154px
			+media-breakpoint-down(md)
				&:not(:first-child)
					display: none
			&:not(:last-child)
				.card-gallery-item-nav
					margin-right: 4px
			&-nav
				display: block
				position: relative
				height: 100%
				+media-breakpoint-down(md)
					display: none
				&::before
					content: ''
					cursor: pointer
					display: block
					position: absolute
					left: 0
					right: 0
					bottom: -12px
					height: 2px
					background-color: #b7b2b8
					transition: background-color .2s ease-in-out
			img
				user-select: none
				pointer-events: none
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				z-index: 1
				padding: 15px
				margin: auto
				max-width: 100%
				max-height: 100%
				object-fit: scale-down
				opacity: 0
				transform: scale(1.01)
				transition: $trs
			&._active
				.card-gallery-item-nav::before
					background-color: $accent
				img
					opacity: 1
	.card-photo
		overflow: hidden
		height: 154px
		margin-bottom: 30px
		padding: 15px
		border-radius: 5px
		border: 1px solid rgba($accent, 0.15)
		background-color: rgba(#f5f5f5, 0.15)
		img
			width: 100%
			height: 100%
			object-fit: scale-down
			transform: scale(1.01)
			transition: transform .3s ease
	.card-meta
		display: flex
		flex-direction: column
		.stock
			display: flex
			align-items: center
			margin-bottom: 14px
			line-height: 1
			&::before
				content: ''
				display: inline-block
				width: 7px
				height: 7px
				margin-right: 5px
				border-radius: 50%
				background-color: #a3a1a5
		.title
			overflow: hidden
			display: -webkit-box
			height: 34px
			margin-bottom: 14px
			-webkit-line-clamp: 2
			-webkit-box-orient: vertical
			text-overflow: ellipsis
			line-height: 1.2
			> a:hover
				color: #42656c
				text-decoration: underline
		.rating
			display: inline-flex
			align-items: center
			margin-bottom: 16px
			line-height: 1
			.ratings
				+media-breakpoint-down(xs)
					&-star
						font-size: 13px
			.comments
				display: inline-flex
				align-items: center
				margin-left: 14px
				color: #8a868b
				font-size: 15px
				+media-breakpoint-down(xs)
					font-size: 13px
				&-count
					margin-top: 2px
					margin-left: 5px
		.price
			margin-bottom: 18px
			&-label
				display: block
				margin-bottom: 6px
				color: #4b484c
				font-weight: 500
				line-height: 1
			&-wrapper
				display: flex
				flex-wrap: wrap
				align-items: flex-end
				line-height: 1
				> ins,
				> del
					position: relative
					&::after
						content: '₽'
					> span
						position: absolute
						visibility: hidden
				> ins
					margin-right: 5px
					color: $black
					font-size: 16px
					font-weight: 700
					white-space: nowrap
					text-decoration: none
				> del
					margin-top: 2px
					color: #a3a1a4
					font-size: 13px
					font-weight: 500
					white-space: nowrap
	.card-actions
		margin-top: auto
		display: flex
		flex-wrap: wrap
		align-items: center
		justify-content: space-between
		background-color: $white
		> form
			width: 100%
		.btn
			min-width: auto
		.wishlist-btn,
		.compare-btn
			width: calc(50% - 5px)
			.icon
				flex: 0 0 auto
				font-size: 20px
				+media-breakpoint-down(xs)
					font-size: 18px
			&._active
				border-color: $accent
				background-color: $accent
				color: $white
		.order-btn
			width: 100%
			margin-top: 10px
			white-space: normal
			.icon
				flex: 0 0 auto
				display: none
				margin-right: 10px
			span
				margin-left: 0
			span.buy
				display: block
			span.added
				display: none
				> a
					color: $white
					border-bottom: 1px solid $white
					&:hover
						border-bottom-style: dashed
			&._active
				background-color: $green
				span.buy
					display: none
				span.added
					display: block
					+media-breakpoint-down(xs)
						font-size: 12px
						padding-left: 10px
						padding-right: 10px
				.icon
					display: block
	.card-attributes
		pointer-events: none
		position: absolute
		top: 100%
		left: -1px
		right: -1px
		z-index: 3
		border-radius: 0 0 5px 5px
		border: 1px solid $accent
		border-top: 0
		background-color: $white
		visibility: hidden
		opacity: 0
		transform: translate3d(0, -5px, 0)
		transition: $trs
		+media-breakpoint-down(sm)
			display: none
		&-list
			padding: 0 20px 10px
			> li
				display: flex
				padding: 12px 0
				color: #4b484c
				font-size: 14px
				line-height: 1.2
				&:first-child
					padding-top: 0
				&:not(:last-child)
					border-bottom: 1px solid #f2f2f2
				span
					display: inline-block
					margin-right: 10px
					font-weight: 500
				b,
				strong
					color: $black
					font-weight: 600
					word-break: break-all
					white-space: pre-wrap

	// ********************
	// *** CARD VIEW #2 ***
	// ********************
	&.card-product--v2
		flex-direction: row
		width: 100%
		padding: 25px
		border-radius: 5px
		border: 1px solid $white
		+media-breakpoint-down(xs)
			flex-direction: column
			padding: 15px
		&:hover
			border-color: $accent
		.card-gallery,
		.card-photo
			flex: 0 0 220px
			height: 200px
			margin-bottom: 0
			+media-breakpoint-down(lg)
				flex-basis: 160px
			+media-breakpoint-down(md)
				flex-basis: 220px
			+media-breakpoint-down(sm)
				flex-basis: 160px
			+media-breakpoint-down(xs)
				flex: 0 0 auto
				height: 154px
				margin-bottom: 30px
			&-item
				height: 100%
				+media-breakpoint-down(xs)
					height: 154px
		.card-meta
			flex: 1 1 auto
			margin-left: 30px
			+media-breakpoint-down(xs)
				margin-left: 0
			.title
				padding-right: 40px
				+media-breakpoint-down(xs)
					padding-right: 0
			.price
				&-label
					color: #a3a1a5
					font-weight: 400
				&-wrapper
					ins,
					del
						position: relative
						&::after
							content: '₽'
						> span
							position: absolute
							visibility: hidden
					ins
						font-size: 18px
						+media-breakpoint-down(xs)
							font-size: 16px
			.card-actions
				margin-top: auto
				flex-wrap: nowrap
				justify-content: start
				+media-breakpoint-down(xs)
					flex-wrap: wrap
					justify-content: space-between
				.wishlist-btn,
				.compare-btn
					width: 40px
					margin-right: 5px
					+media-breakpoint-down(xs)
						width: calc(50% - 5px)
						margin-right: 0
				.order-btn
					max-width: 200px
					margin-top: 0
					padding: 0 10px
					+media-breakpoint-down(xs)
						max-width: 100%
						margin-top: 10px

	// ********************
	// *** CARD VIEW #3 ***
	// ********************
	&.card-product--v3
		flex-direction: row
		width: 100%
		padding: 30px
		border-radius: 5px
		border: 1px solid $white
		+media-breakpoint-down(lg)
			flex-wrap: wrap
			padding: 25px 25px 5px
		+media-breakpoint-down(md)
			flex-direction: column
			padding: 20px
		+media-breakpoint-down(xs)
			padding: 15px
		&:hover
			border-color: $accent
		.card-meta
			flex: 1 1 auto
			flex-direction: row
			+media-breakpoint-down(lg)
				margin-bottom: 20px
			+media-breakpoint-down(md)
				margin-bottom: 0
			+media-breakpoint-down(xs)
				flex-wrap: wrap
			.product-link
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				z-index: 1
				&:hover
					~ .product-title
						.title
							color: #42656c
			.product-title
				flex: 1 1 auto
				padding-right: 50px
				+media-breakpoint-down(lg)
					max-width: 370px
					padding-right: 30px
				+media-breakpoint-down(xs)
					flex: 0 0 100%
					padding-right: 0
					margin-bottom: 20px
				.stock
					margin-bottom: 8px
				.title
					overflow: hidden
					display: block
					height: auto
					margin-bottom: 0
					-webkit-line-clamp: none
					text-overflow: clip
					line-height: 1.2
					+media-breakpoint-down(md)
						font-size: 14px
						line-height: 1.3
			.product-price
				flex: 0 0 105px
				align-self: center
				+media-breakpoint-down(xs)
					flex: 1 1 auto
				.price
					margin-bottom: 0
					&-label
						color: #a3a1a5
						font-weight: 400
					&-wrapper
						flex-direction: column
						align-items: flex-start
						ins
							margin-right: 0
						del
							margin-top: 4px
			.product-quantity
				flex: 0 0 auto
				align-self: center
				position: relative
				padding: 0 50px
				z-index: 2
				+media-breakpoint-down(lg)
					padding-left: 15px
					padding-right: 30px
				+media-breakpoint-down(md)
					padding-right: 0
				.quantity
					display: flex
					align-items: center
					&-value
						position: relative
						z-index: 1
						width: 56px
						height: 30px
						margin-bottom: 0
						padding-left: 4px
						padding-right: 4px
						border-radius: 0
						background-color: $white
						border-top: 1px solid $border
						border-bottom: 1px solid $border
						color: $black
						font-weight: 400
						line-height: 1
						text-align: center
					&-minus,
					&-plus
						width: 30px
						height: 30px
						border: 1px solid $border
						color: #8e8992
						font-size: 18px
						font-weight: 500
						line-height: 1
						&:hover
							border-color: $accent
							background-color: $accent
							color: $white
						&:active
							background-color: lighten($accent, 10%)
					&-minus
						border-radius: 5px 0 0 5px
					&-plus
						border-radius: 0 5px 5px 0
		.card-actions
			position: relative
			z-index: 2
			flex-wrap: nowrap
			justify-content: start
			margin-top: 0
			+media-breakpoint-down(lg)
				margin-bottom: 20px
			+media-breakpoint-down(md)
				margin-top: 20px
				margin-bottom: 0
			.wishlist-btn,
			.compare-btn
				width: 40px
				margin-right: 5px
				+media-breakpoint-down(xxs)
					width: 70px
					padding-left: 0
					padding-right: 0
			.order-btn
				width: 120px
				margin-top: 0
				padding: 0 10px
				+media-breakpoint-down(md)
					width: auto
					min-width: 140px
					padding: 0 26px
				+media-breakpoint-down(xs)
					width: 100%
					min-width: 100%
					max-width: 200px
					padding-left: 10px
					padding-right: 10px
				+media-breakpoint-down(xxs)
					min-width: auto
					padding-left: 5px
					padding-right: 5px

	// ********************
	// *** CARD VIEW #4 ***
	// ********************
	&.card-product--v4
		width: 100%
		padding: 15px 10px
		border-radius: 5px
		border: 1px solid $border
		&:hover
			border-color: $accent
		.card-quick-view
			top: 50%
			margin-top: -23px
			+media-breakpoint-down(sm)
				display: none
			.btn
				width: 96px
				height: 46px
				border-radius: 5px
				border-color: #2c6e7d
				background-color: #2c6e7d
				color: $white
				font-size: 13px
				&:hover
					border-color: $orange
					background-color: $orange
		.card-photo
			overflow: visible
			margin-bottom: 0
			padding: 0
			border-radius: 0
			border: 0
			height: 100px


/* ==========================================================================
	 News card
	 ========================================================================== */
.card-news
	overflow: hidden
	position: relative
	padding-bottom: 152px
	border-radius: 5px
	box-shadow: $box-shadow
	+media-breakpoint-down(xs)
		padding-bottom: 0
	&:hover
		.card-meta
			transform: translate3d(0, 0, 0)
			.descr
				opacity: 1
	.card-photo
		height: 265px
		+media-breakpoint-down(lg)
			height: 220px
	.card-meta
		position: absolute
		left: 0
		right: 0
		bottom: 0
		padding: 30px 20px
		background-color: $white
		transform: translate3d(0, 80px, 0)
		transition: transform .35s ease
		+media-breakpoint-down(lg)
			padding: 20px
			transform: translate3d(0, 90px, 0)
		+media-breakpoint-down(xs)
			position: static
			padding: 30px 20px
			transform: translate3d(0, 0, 0)
		.title
			overflow: hidden
			display: -webkit-box
			height: 40px
			-webkit-line-clamp: 2
			-webkit-box-orient: vertical
			text-overflow: ellipsis
			+media-breakpoint-down(lg)
				height: 60px
				-webkit-line-clamp: 3
			+media-breakpoint-down(xs)
				height: auto
				-webkit-line-clamp: none
			> a:hover
				color: #42656c
				text-decoration: underline
		.descr
			overflow: hidden
			display: -webkit-box
			height: 60px
			margin-top: 15px
			margin-bottom: 0
			-webkit-line-clamp: 3
			-webkit-box-orient: vertical
			text-overflow: ellipsis
			opacity: 0
			transition: opacity .3s ease
			+media-breakpoint-down(lg)
				height: 80px
				-webkit-line-clamp: 4
			+media-breakpoint-down(xs)
				display: none


/* ==========================================================================
	 Articles card
	 ========================================================================== */
.card-article
	overflow: hidden
	background-color: $trsp
	&:hover
		.card-photo
			&::after,
			.btn
				opacity: 1
	.card-photo
		position: relative
		overflow: hidden
		margin-bottom: 30px
		border-radius: 5px
		height: 265px
		+media-breakpoint-down(lg)
			height: 220px
		+media-breakpoint-down(md)
			margin-bottom: 20px
		&::after
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			background-color: rgba(#474747, 0.5)
			opacity: 0
			transition: opacity .35s ease
		.btn
			position: absolute
			top: 50%
			left: 50%
			z-index: 2
			height: 36px
			border-radius: 5px
			background-color: #2c6e7d
			color: $white
			transform: translate(-50%, -50%)
			opacity: 0
			&:hover
				background-color: $orange
	.card-meta
		transition: transform .35s ease
		.title
			overflow: hidden
			display: -webkit-box
			height: 40px
			-webkit-line-clamp: 2
			-webkit-box-orient: vertical
			text-overflow: ellipsis
			> a:hover
				color: #42656c
				text-decoration: underline
		.descr
			display: -webkit-box
			margin-top: 15px
			margin-bottom: 0
			-webkit-line-clamp: 4
			-webkit-box-orient: vertical
			text-overflow: ellipsis


/* ==========================================================================
	 Testimonial card
	 ========================================================================== */
.card-testimonial
	height: auto
	border-radius: 5px
	box-shadow: 0 0 10px rgba(1, 74, 127, 0.1)
	.card-meta
		padding: 40px
		+media-breakpoint-down(lg)
			padding: 30px
		.author
			margin-bottom: 10px
		.text
			overflow: hidden
			max-height: 112px
			margin-bottom: 0
			transition: height .35s ease
		.read-more
			margin-top: 16px