.faq
	&-list
		&:last-of-type
			.faq-item:last-child .faq-answer
				margin-bottom: 0
	&-question,
	&-answer
		position: relative
		padding: 30px 60px 30px 30px
		border-radius: 5px
		+media-breakpoint-down(sm)
			padding: 18px 20px
		&-text
			p, span
				display: block
				margin-bottom: 6px
				&:last-child
					margin-bottom: 0
		.faq-user,
		.faq-admin
			display: flex
			align-items: center
			margin-top: 15px
			padding-left: 25px
			line-height: 1
	&-question
		margin-bottom: 30px
		background-color: $accent
		color: $white
		&::before
			content: ''
			position: absolute
			top: 100%
			left: 26px
			display: block
			width: 34px
			height: 16px
			background: url('../images/faq-tail.svg') no-repeat center/100%
		&-text
			p, span
				font-weight: 500
		.faq-user
			background: url('../images/icons/user-2.svg') no-repeat left center/15px
			font-weight: 500
	&-answer
		margin-bottom: 60px
		border: 1px solid $accent
		box-shadow: $box-shadow
		background-color: $white
		color: $textcolor
		&::before
			content: ''
			position: absolute
			top: 100%
			right: 26px
			display: block
			width: 32px
			height: 24px
			background: url('../images/faq-tail-white.svg') no-repeat center/100%
		&-text
			p, span
				line-height: 1.45
		.faq-admin
			background: url('../images/moyki-plus.png') no-repeat left center/20px
			color: rgba(#736f75, 0.7)
			font-weight: 500
