/* ==========================================================================
	 Base customize for forms
	 ========================================================================== */
::placeholder
	color: rgba($black, 0.6)

input, textarea
	outline: none
	font-family: $font
	&:focus:required:invalid
		box-shadow: 0 0 0 1px red
	&:required:valid
		box-shadow: 0 0 0 1px $accent

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
	display: none

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
	-webkit-appearance: none
	margin: 0
input[type=number]
	-moz-appearance: textfield

.form
	position: relative
	&-light
		label
			color: $white
	&-group
		&:not(:last-child)
			margin-bottom: 28px
		.switch-input-mask
			margin-top: 10px
		.form-control
			margin-bottom: 0
	&-group-slider
		.noUi-target
			margin-top: 6px
			margin-bottom: 10px
	&-group-row
		display: flex
		align-items: center
		.icon-border
			flex: 0 0 auto
			width: 42px
			height: 42px
			margin: 0 6px
			font-size: 26px
			line-height: 1
			+media-breakpoint-down(xs)
				width: auto
				border: 0
	label
		cursor: pointer
	&-label
		margin-bottom: 10px
		color: #a9a7a9
		font-size: 13px
		font-weight: 500
		line-height: 1.2
	&-control,
	&-textarea,
	&-select
		appearance: none
		display: block
		width: 100%
		margin-bottom: 20px
		border-radius: 5px
		border: 0
		background-color: #eff0f4
		background-clip: padding-box
		color: $black
		font-size: 14px
		font-weight: 500
		transition: border-color .3s ease-in-out, box-shadow .3s ease-in-out, background-color .3s ease-in-out
		&:focus
			box-shadow: 0 0 0 1px $accent
			background-color: $white
			outline: none
	&-control
		height: 42px
		padding: 0 20px
		line-height: 40px
		&--number
			-moz-appearance: textfield
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button
				-webkit-appearance: none
				margin: 0
	&-select
		cursor: pointer
		position: relative
		height: 42px
		padding: 0 50px 0 20px
		line-height: 40px
		background-image: url('../images/icons/arrow-down-accent.svg')
		background-repeat: no-repeat
		background-position-x: calc(100% - 20px)
		background-position-y: 16px
		background-size: 12px
		option:checked
			color: $white
			background-color: $accent
	&-field-icon
		padding-left: 42px
		padding-right: 52px
		background-repeat: no-repeat
		background-size: 14px
		background-position: 20px center
		&--user
			background-image: url('../images/icons/user.svg')
		&--phone
			background-image: url('../images/icons/phone.svg')
		&--hours
			background-image: url('../images/icons/clock.svg')
		&--order
			background-image: url('../images/icons/order-number.svg')
	&-textarea
		resize: none
		min-height: 120px
		padding: 14px 20px
	&-radio
		position: relative
		input[type="radio"]
			position: absolute
			top: 0
			left: 3px
			opacity: 0
		&-label
			position: relative
			display: block
			margin-bottom: 10px
			padding-left: 28px
			font-size: 14px
			font-weight: 400
			line-height: 20px
			cursor: pointer
			&::before
				content: ''
				position: absolute
				top: 0
				left: 0
				width: 18px
				height: 18px
				border-radius: 50%
				background-color: #eff0f4
			&::after
				content: ''
				position: absolute
				top: 0
				left: 0
				width: 18px
				height: 18px
				border-radius: 50%
				border: 4px solid $white
				background-color: $accent
				opacity: 0
				transition: opacity .15s ease-in, box-shadow .3s ease
		input:checked + label::after
			box-shadow: 0 0 0 1px #eff0f4
			opacity: 1
	&-checkbox
		position: relative
		input[type="checkbox"]
			position: absolute
			top: 0
			left: 3px
			opacity: 0
		&-label
			position: relative
			display: block
			margin-bottom: 10px
			padding-left: 28px
			color: rgba($black, 0.8)
			font-size: 14px
			font-weight: 400
			line-height: 20px
			cursor: pointer
			&::before
				content: ''
				position: absolute
				top: 0
				left: 0
				width: 18px
				height: 18px
				border-radius: 2px
				border: 1px solid $border
				background-color: $white
			&::after
				content: ''
				position: absolute
				top: 0
				left: 0
				width: 18px
				height: 18px
				border-radius: 2px
				border: 1px solid $border
				background: #eff0f4 url('../images/icons/check.svg') no-repeat center/11px
				opacity: 0
				transition: opacity .15s ease
		input:checked + label::after
			opacity: 1
	&-note
		margin-bottom: 20px
	&-submit
		margin-top: 40px
		text-align: center
	&-submit-captcha
		display: flex
		justify-content: space-between
		+media-breakpoint-down(xs)
			flex-direction: column
			align-items: center
		.form
			&-captcha
				height: 50px
				img
					border-radius: 5px
					max-height: 100%
				+media-breakpoint-down(xs)
					height: auto
			&-submit
				min-width: 135px
				margin-top: 0
				margin-left: 10px
				+media-breakpoint-down(xs)
					margin-top: 20px
					margin-left: auto
					margin-right: auto