/* ==========================================================================
	 Base customize
	 ========================================================================== */
body.modal-open
	.header._sticky
		.header-bottom
			padding-right: 17px

.modal
	padding-right: 0!important
	padding-left: 0!important
	&.fade
		.modal-dialog
			transform: scale(0.95)
	&.show
		.modal-dialog
			transform: none
	&-dialog
		max-width: 575px
		+media-breakpoint-down(sm)
			max-width: 475px
	&-content
		padding: 70px
		border-radius: 5px
		border: 0
		box-shadow: 0 3px 46px rgba(0, 0, 0, 0.2)
		+media-breakpoint-down(lg)
			padding: 50px
		+media-breakpoint-down(sm)
			padding: 40px
		+media-breakpoint-down(xs)
			padding: 20px 20px 40px
	&-header
		justify-content: center
		padding: 0 0 40px
		border-bottom: 0
		+media-breakpoint-down(lg)
			padding-top: 10px
		+media-breakpoint-down(sm)
			padding-top: 30px
		.btn-close
			position: absolute
			top: 30px
			right: 30px
			width: 25px
			height: 25px
			padding: 0
			span
				width: 25px
				height: 2px
				border-radius: 2px
				&:nth-child(2)
					margin-top: -2px
			+media-breakpoint-down(xs)
				top: 15px
				right: 15px
				span
					width: 20px
	&-title
		font-size: 24px
		font-weight: 700
		text-align: center
		line-height: 1.2
		+media-breakpoint-down(md)
			font-size: 22px
		+media-breakpoint-down(xs)
			font-size: 18px
	&-body
		padding: 0
		.form-submit-captcha
			flex-wrap: wrap
			justify-content: center
			.form-captcha
				display: flex
				justify-content: center
				flex: 0 0 100%
				height: auto
				margin-bottom: 20px
				img
					max-height: 100%
	&-footer
		position: relative
		display: block
		margin-top: 30px
		padding-top: 30px
		padding-bottom: 0
		border-top: 0
		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			height: 1px
			margin: 0 -70px
			border-top: 1px solid $border
			+media-breakpoint-down(lg)
				margin: 0 -50px
			+media-breakpoint-down(sm)
				margin: 0 -40px
			+media-breakpoint-down(xs)
				margin: 0 -20px


/* ==========================================================================
	 Discount Modal
	 ========================================================================== */
.discount-modal
	&-slider-value
		width: 100px
		height: 38px
		border: 1px solid $border
		background-color: $white
		text-align: center
		letter-spacing: 1px


/* ==========================================================================
	 Authorization Modal
	 ========================================================================== */
.authorization-modal
	.modal-content
		padding-bottom: 30px
	.modal-footer
		.title
			margin-bottom: 20px
			line-height: 1.2
		.change-authorization
			text-align: center
			.btn
				min-width: 230px


/* ==========================================================================
	 Info Modal (Error, Succes, Status etc.)
	 ========================================================================== */
.info-modal
	&-wrapper
		text-align: center
	&-icon
		display: flex
		align-items: center
		justify-content: center
		width: 140px
		height: 140px
		margin: 0 auto
		border-radius: 50%
		border: 2px solid $border
		font-size: 40px
		+media-breakpoint-down(sm)
			width: 100px
			height: 100px
			font-size: 30px
		&--succes
			border-color: #32c42a
			color: #32c42a
		&--error
			border-color: #ff0021
			color: #ff0021
		.icon-restore-password
			font-size: 56px
			+media-breakpoint-down(sm)
				font-size: 40px
	&-text
		margin-top: 30px
		color: $black
		font-size: 15px
		line-height: 1.4
		+media-breakpoint-down(sm)
			font-size: 14px
	&-btn
		margin-top: 30px