@import '../helpers/helpers'

.promo
	padding: 16px 0
	background-color: #e3e2e3
	&-inner
		position: relative
		text-align: center
	&-content
		padding-right: 30px
		line-height: 1.4
		p
			margin: 0
		a
			display: inline-block
			color: inherit
		b, strong
			font-weight: 600
	&-close
		position: absolute
		top: 50%
		transform: translateY(-50%)
		right: 0
		.btn-close
			padding: 4px 0 4px 4px