.mt-80
	margin-top: 80px
	+media-breakpoint-down(sm)
		margin-top: 60px
.mb-80
	margin-bottom: 80px
	+media-breakpoint-down(sm)
		margin-bottom: 60px
.mt-70
	margin-top: 70px
	+media-breakpoint-down(sm)
		margin-top: 50px
.mb-70
	margin-bottom: 70px
	+media-breakpoint-down(sm)
		margin-bottom: 50px
.mt-60
	margin-top: 60px
	+media-breakpoint-down(sm)
		margin-top: 50px
.mb-60
	margin-bottom: 60px
	+media-breakpoint-down(sm)
		margin-bottom: 50px
.mt-50
	margin-top: 50px
.mb-50
	margin-bottom: 50px
.mt-40
	margin-top: 40px
.mb-40
	margin-bottom: 40px
.mt-30
	margin-top: 30px
.mb-30
	margin-bottom: 30px
.mt-20
	margin-top: 20px
.mb-20
	margin-bottom: 20px
.mt-15
	margin-top: 15px
.mb-15
	margin-bottom: 15px
.mt-10
	margin-top: 10px
.mb-10
	margin-bottom: 10px
.mt-5
	margin-top: 5px
.mb-5
	margin-bottom: 5px
.mt-0
	margin-top: 0
.mb-0
	margin-bottom: 0