/* ==========================================================================
	 Font Weights
	 ========================================================================== */
.w-regular
	font-weight: 400
.w-medium
	font-weight: 500
.w-semibold
	font-weight: 600
.w-bold
	font-weight: 700


/* ==========================================================================
	 Font sizes
	 ========================================================================== */
.text-xl
	font-size: 36px
	+media-breakpoint-down(lg)
		font-size: 32px
	+media-breakpoint-down(sm)
		font-size: 28px
.text-lg
	font-size: 28px
	+media-breakpoint-down(lg)
		font-size: 25px
	+media-breakpoint-down(md)
		font-size: 22px
.text-md
	font-size: 22px
	+media-breakpoint-down(lg)
		font-size: 20px
	+media-breakpoint-down(md)
		font-size: 18px
.text-sm
	font-size: 16px
.text-xs
	font-size: 14px
.text-xxs
	font-size: 13px


/* ==========================================================================
	 Colors
	 ========================================================================== */
.c-accent
	color: $accent
.c-white
	color: $white
.c-gray
	color: #a2a2a3
.c-black
	color: $black
.c-red
	color: #e42f36


/* ==========================================================================
	 Other
	 ========================================================================== */
.text-center
	text-align: center
.text-left
	text-align: left
.text-right
	text-align: right
.text-uppercase
	text-transform: uppercase