@import '../helpers/helpers'

/* ==========================================================================
	 Font Weights
	 ========================================================================== */
.w-regular
	font-weight: 400
.w-medium
	font-weight: 500
.w-semibold
	font-weight: 600
.w-bold
	font-weight: 700


/* ==========================================================================
	 Font sizes
	 ========================================================================== */
.text-xl
	font-size: 36px
.text-lg
	font-size: 28px
.text-md
	font-size: 22px
.text-sm
	font-size: 16px
.text-xs
	font-size: 14px
.text-xxs
	font-size: 13px


/* ==========================================================================
	 Colors
	 ========================================================================== */
.c-accent
	color: $accent
.c-white
	color: $white
.c-gray
	color: #a2a2a3
.c-black
	color: $black
.c-red
	color: #e42f36