@import '../helpers/helpers'

.header
	background-color: #3a363b
	&-top
		padding: 14px 0
		border-bottom: 1px solid #4c494d
		&-inner
			display: flex
			align-items: center
			justify-content: space-between
			.contacts,
			.actions
				display: flex
				align-items: center
				&-item
					display: inline-flex
					align-items: center
					line-height: 1.25
					&:not(:last-child)
						margin-right: 40px
					.title
						margin-right: 6px
					.text
						position: relative
						&::after
							content: ''
							position: absolute
							top: 100%
							left: 0
							right: 0
							border-bottom: 1px dashed #a2a2a3
							opacity: 0
							transition: $trs
						&:hover
							color: $white
					a.text:hover::after
						opacity: 1
					.dropdown
						&-toggle
							.text
								display: inline-block
								margin-right: 5px
							.icon-arrow
								color: #a6a5a6
								font-size: 8px
								transform: rotate(90deg)
							&:hover
								.text::after
									opacity: 1
						&-menu
							padding-top: 0
							padding-bottom: 0
			.actions
				&-item
					.icon
						margin-right: 5px
						color: $white
						font-size: 12px
					.icon-arrow
						margin-right: 0
	&-middle
		padding: 20px 0
		&-inner
			display: flex
			align-items: center
			.logotype
				margin-right: 42px
				a
					display: block
				img
					max-height: 68px
			.phone
				display: flex
				align-items: center
				&-icon
					flex: 0 0 auto
					display: flex
					align-items: center
					justify-content: center
					width: 34px
					height: 34px
					border-radius: 5px
					border: 1px solid #ededed
					background-color: $white
					color: $accent
					font-size: 12px
				&-info
					margin-left: 10px
					.title
						display: block
						margin-bottom: 4px
						line-height: 1
					.dropdown
						line-height: 1
						&-toggle
							.text
								position: relative
								display: inline-block
								margin-right: 5px
								&::after
									content: ''
									position: absolute
									bottom: -2px
									left: 0
									right: 0
									border-bottom: 1px dashed #a2a2a3
									opacity: 0
									transition: $trs
								&:hover
									color: $white
									&::after
										opacity: 1
							.icon-arrow
								color: #a6a5a6
								font-size: 8px
								transform: rotate(90deg)
						&-menu
							&-item
								padding: 15px 0
								.title
									white-space: nowrap
									margin-bottom: 6px
							&-link
								white-space: nowrap
			.buttons
				display: flex
				flex-wrap: wrap
				align-items: center
				margin-left: auto
				> .btn:not(:first-child)
					margin-left: 10px