@import '../helpers/helpers'
@import 'header-mega-menu'
@import 'header-search'
@import 'header-cart-widget'

.header
	background-color: #3a363b
	&-top
		padding: 14px 0
		border-bottom: 1px solid #4c494d
		&-inner
			display: flex
			align-items: center
			justify-content: space-between
		.contacts,
		.actions
			display: flex
			align-items: center
			&-item
				display: inline-flex
				align-items: center
				line-height: 1.25
				&:not(:last-child)
					margin-right: 40px
				.title
					margin-right: 6px
				.text
					position: relative
					&::after
						content: ''
						position: absolute
						top: 100%
						left: 0
						right: 0
						border-bottom: 1px dashed #a2a2a3
						opacity: 0
						transition: $trs
					&:hover
						color: $white
				a.text:hover::after
					opacity: 1
				.dropdown
					&-toggle
						.text
							display: inline-block
							margin-right: 5px
						.icon-arrow
							color: #a6a5a6
							font-size: 8px
							transform: rotate(90deg)
						&:hover
							.text::after
								opacity: 1
					&-menu
						padding-top: 0
						padding-bottom: 0
		.actions
			&-item
				.icon
					margin-right: 5px
					color: $white
					font-size: 12px
				.icon-arrow
					margin-right: 0
	&-middle
		padding: 25px 0
		&-inner
			display: flex
			align-items: center
		.logotype
			margin-right: 42px
			a
				display: block
			img
				max-height: 68px
		.phone
			display: flex
			align-items: center
			&-icon
				flex: 0 0 auto
				display: flex
				align-items: center
				justify-content: center
				width: 34px
				height: 34px
				border-radius: 5px
				border: 1px solid #ededed
				background-color: $white
				color: $accent
				font-size: 12px
			&-info
				margin-left: 10px
				.title
					display: block
					margin-bottom: 4px
					line-height: 1
				.dropdown
					line-height: 1
					&-toggle
						.text
							position: relative
							display: inline-block
							margin-right: 5px
							&::after
								content: ''
								position: absolute
								bottom: -2px
								left: 0
								right: 0
								border-bottom: 1px dashed #a2a2a3
								opacity: 0
								transition: $trs
						.icon-arrow
							color: #a6a5a6
							font-size: 8px
							transform: rotate(90deg)
						&:hover
							.text
								color: $white
								&::after
									opacity: 1
					&-menu
						&-item
							padding: 15px 0
							.title
								white-space: nowrap
								margin-bottom: 6px
						&-link
							white-space: nowrap
		.buttons
			display: flex
			flex-wrap: wrap
			align-items: center
			margin-left: auto
			> .btn:not(:first-child)
				margin-left: 10px
	&-bottom
		// border-top: 1px solid #4c494d
		background-color: #312e32
		&-inner
			position: relative
			display: flex
			align-items: center
			height: 60px
		.catalog
			height: 100%
			&-btn
				width: 200px
				height: 100%
				border-radius: 0
				> .icon
					margin-right: 12px
			&:hover
				.mega-menu
					pointer-events: auto
					z-index: $z-index-header-mega-menu
					visibility: visible
					opacity: 1
					transform: translate3d(0, 0, 0)
		.navigation
			position: relative
			display: flex
			align-items: center
			width: 100%
			&.search-toggled
				.search
					width: 100%
					margin-right: 30px
		.search
			margin-left: 30px
			&-form
				position: relative
				display: inline-flex
				align-items: center
				width: 218px
				&.is-active
					z-index: $z-index-header-search
					width: 100%
					transition: width .35s ease
					.form-control
						background-color: $white
						color: $black
						font-weight: 600
						&::placeholder
							color: rgba(#3a363b, 0.4)
					.search-form-btn
						background-color: $accent
						&:hover
							background-color: $orange
					.search-form-results
						overflow: visible
						height: auto
						visibility: visible
						opacity: 1
						transform: translate3d(0, 0, 0)
						transition: .35s ease .25s
				.form-control
					height: 52px
					margin-bottom: 0
					background-color: rgba($white, 0.07)
					color: $white
					font-size: 13px
					line-height: 50px
					transition: .15s ease
					&::placeholder
						color: rgba($white, 0.4)
					&:focus
						box-shadow: none
				&-btn
					position: absolute
					right: 3px
					width: 46px
					height: 46px
					border-radius: 5px
					background-color: #585658
					color: $white
					font-size: 18px
					&:hover
						background-color: $accent
		.menu
			margin: 0 15px
			width: 100%
			&.is-hidden
				display: none
			&-list
				display: flex
				justify-content: space-between
				> li
					position: relative
					line-height: 60px
					&::after
						content: ''
						position: absolute
						left: 0
						right: 0
						bottom: 0
						height: 4px
						background-color: $accent
						opacity: 0
						transition: $trs
					&:hover
						&::after
							opacity: 1
						> ul
							z-index: 9
							pointer-events: auto
							visibility: visible
							opacity: 1
							transform: translate3d(0, 0, 0)
					> a
						position: relative
						display: block
						padding: 0 14px
						color: $white
						font-size: 13px
						font-weight: 500
						white-space: nowrap
					> ul
						pointer-events: none
						position: absolute
						top: 100%
						left: 0
						min-width: 180px
						padding: 5px 20px
						border-radius: 0 0 5px 5px
						box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1)
						background-color: $white
						visibility: hidden
						opacity: 0
						transform: translate3d(-10px, 0, 0)
						transition: $trs
						> li
							line-height: 40px
							&:not(:last-child)
								border-bottom: 1px solid #f3f3f3
							> a
								display: block
								color: $black
								font-size: 13px
								font-weight: 500
								text-decoration: underline
								&:hover
									color: $accent
									text-decoration: none
		.actions
			display: flex
			&-item
				border-left: 1px solid #434044
				line-height: 45px
				&:last-child
					border-right: 1px solid #434044
			&-link
				position: relative
				display: block
				height: 100%
				padding: 0 20px
				color: $white
				font-size: 18px
				.icon
					transition: $trs
				&:hover
					.icon
						opacity: 0.5
					.actions-count
						background-color: $orange
			&-cart:hover
				.cart-widget
					z-index: $z-index-header-cart
					visibility: visible
					opacity: 1
					transform: translate3d(0, 0, 0)
			&-count
				position: absolute
				top: 5px
				right: 12px
				z-index: 1
				display: flex
				align-items: center
				justify-content: center
				width: 18px
				height: 18px
				border-radius: 50%
				background-color: $accent
				font-size: 11px
				line-height: 1
				transition: $trs