.m-menu
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: $z-index-mobile-menu
	height: 100vh
	padding-top: 60px
	// visibility: hidden
	// opacity: 0
	transition: $trs
	+media-breakpoint-up(xl)
		display: none
	&.is-active
		visibility: visible
		opacity: 1
	&-wrapper
		overflow-y: scroll
		position: relative
		z-index: 1
		max-width: 320px
		height: 100%
		background-color: $bodycolor
		.container
			height: 100%
	// Navigation
	&-nav
		ul
			overflow-x: hidden
			> li
				background-color: $bodycolor
				border-top: 1px solid $border
				&:last-child
					border-bottom: 1px solid $border
				> a
					display: flex
					align-items: center
					width: 100%
					padding: 20px 25px
					font-size: 15px
					font-weight: 500
					line-height: 1
				.icon-arrow
					margin-left: auto
					font-size: 13px
				&.catalog
					border-top: 0
					background-color: $accent
					transition: background-color .35s ease
					> a
						color: $white
						font-weight: 400
					.icon-catalog
						margin-right: 16px
						font-size: 13px
					&:hover
						background-color: $orange
				> .submenu
					position: absolute
					top: 0
					left: 0
					bottom: 0
					width: 100%
					background-color: $bodycolor
					will-change: transform
					transform: translate3d(100%, 0, 0)
					transition: transform .45s ease
					&._toggled
						transform: translate3d(0, 0, 0)
					.back-btn
						min-width: auto
						height: auto
						margin: 20px 0 20px 25px
						padding: 15px 25px
						line-height: 1
						.icon
							font-size: 14px
							transform: scaleX(-1)
					> li
						color: $black
						> a
							background-color: $white
							&.has-dropmenu
								.icon
									will-change: transform
									transition: $trs
								&._toggled
									color: $accent
									.icon
										transform: rotate(90deg)
						> .dropmenu
							display: none
							margin-left: 0
							> li
								> a
									display: flex
									align-items: center
									width: 100%
									padding: 18px 25px
									color: #303030
									font-size: 15px
									font-weight: 500
									line-height: 1
									.icon
										fill: #aeaeae
										font-size: 12px
										transition: fill .35s ease
									&:hover
										color: $accent
										.icon
											fill: $accent
	// Buttons
	&-buttons
		display: flex
		flex-direction: column
		max-width: 320px
		padding: 30px 25px 30px
		padding-right: 25px
		border-bottom: 1px solid $border
		.btn
			&:not(:last-child)
				margin-bottom: 15px