@import '../components/breadcrumbs'
@import '../components/pagination'
@import 'article'
@import 'aside'

.site-main
	padding-top: 40px


/* ==========================================================================
	 Page title
	 ========================================================================== */
.page-title
	position: relative
	margin-top: 40px
	margin-bottom: 40px
	padding-bottom: 10px
	+media-breakpoint-down(xs)
		font-size: 22px
	&::after
		content: ''
		position: absolute
		left: 0
		right: 0
		bottom: 0
		width: 67px
		height: 2px
		margin: 0 auto
		background-color: $accent


/* ==========================================================================
	 Page image
	 ========================================================================== */
.page-image
	position: relative
	height: 290px
	+media-breakpoint-down(sm)
		height: 265px
	+media-breakpoint-down(xs)
		height: 225px
	img
		width: 100%
		height: 100%
		border-radius: 5px
		object-fit: cover


/* ==========================================================================
	 Page published
	 ========================================================================== */
.page-published
	margin-top: 30px
	+media-breakpoint-down(sm)
		margin-top: 20px
	.date
		display: inline-flex
		align-items: center
		padding: 10px 20px
		border-radius: 5px
		background-color: #ede6f0
		color: $accent
		line-height: 1
		font-weight: 500
		white-space: nowrap
		.icon
			margin-right: 8px


/* ==========================================================================
	 Page navigation (MenuSpy etc.)
	 ========================================================================== */
.page-navigation
	position: sticky
	top: 102px
	flex: 0 0 auto
	width: 170px
	+media-breakpoint-down(sm)
		width: 100%
		margin-bottom: 30px
		border-bottom: 2px solid #e3e2e3
	&-list
		border-radius: 5px
		+media-breakpoint-down(sm)
			overflow-x: auto
			display: flex
			white-space: nowrap
		> li
			background-color: #f5f5f5
			&:not(:last-child)
				border-bottom: 1px solid $border
				+media-breakpoint-down(sm)
					border-bottom: 0
			+media-breakpoint-down(sm)
				background-color: $trsp
				&:not(:last-child)
					margin-right: 15px
			&:hover:not(.active)
				border-bottom-color: $border
			> a
				position: relative
				display: block
				padding: 30px 20px
				font-weight: 600
				line-height: 1.3
				&::after
					content: ''
					position: absolute
					left: 0
					bottom: 0
					width: 100%
					height: 2px
					background-color: $accent
					transform: scaleX(0)
					transform-origin: left center
					opacity: 0
					transition: opacity .25s ease .25s, transform .3s ease .185s
				&.active
					color: $accent
					&::after
						transform: scaleX(1)
						opacity: 1
				+media-breakpoint-down(sm)
					padding: 15px 0
					&::after
						display: none


/* ==========================================================================
	 Page section
	 ========================================================================== */
.page-section
	&:not(:first-child)
		margin-top: 50px
		+media-breakpoint-down(sm)
			margin-top: 40px
	&-head
		display: flex
		margin-bottom: 30px
		.head-icon
			flex: 0 0 auto
			display: inline-flex
			width: 34px
			height: 34px
			align-items: center
			justify-content: center
			margin-right: 16px
			border: 1px solid $border
			border-radius: 5px
			background-color: $white
			color: $accent
			font-size: 18px
		.head-title
			margin-bottom: 0
			padding-top: 5px
	&-title
		position: relative
		margin-bottom: 40px
		padding-bottom: 10px
		text-align: center
		&::after
			content: ''
			position: absolute
			left: 0
			right: 0
			bottom: 0
			width: 50px
			height: 2px
			margin: 0 auto
			background-color: $accent


/* ==========================================================================
	 Post navigation (Prev/Next article)
	 ========================================================================== */
.post-navigation
	display: flex
	margin-top: 45px
	+media-breakpoint-down(sm)
		margin-top: 30px
	&-prev,
	&-next
		flex: 0 1 50%
		.btn
			display: inline-flex
			align-items: center
			box-shadow: 0px 3px 24px 2px rgba(68, 68, 79, 0.08)
			.icon
				font-size: 8px
			+media-breakpoint-down(sm)
				width: 48px
				min-width: auto
				height: 48px
				padding: 0
				background-color: $accent
				color: $white
				&:hover
					background-color: $orange
				span
					display: none
	&-prev
		.btn
			.icon
				transform: scaleX(-1)
	&-archive
	&-next
		text-align: right
		.btn
			span
				margin-right: 10px


/* ==========================================================================
	 Page form
	 ========================================================================== */
.page-form
	position: relative
	padding: 80px 45px
	border-radius: 10px
	background: $accent url('../images/form-bg.jpg') no-repeat center/cover
	+media-breakpoint-down(sm)
		padding: 50px 30px
	+media-breakpoint-down(xs)
		padding: 40px 0
		background: none
		&::before
			content: ''
			position: absolute
			top: 0
			left: -25px
			right: -25px
			bottom: 0
			display: block
			background: $accent url('../images/form-bg.jpg') no-repeat center/cover
	&-title
		position: relative
		margin-bottom: 40px
		padding-bottom: 10px
		color: $white
		text-align: center
		+media-breakpoint-down(xs)
			font-size: 22px
		&::after
			content: ''
			position: absolute
			left: 0
			right: 0
			bottom: 0
			width: 50px
			height: 2px
			margin: 0 auto
			background-color: $white
	.form
		&-control
			height: 54px
			line-height: 54px
			+media-breakpoint-down(xs)
				height: 46px
				line-height: 44px
		&-captcha
			height: 50px
			margin-left: 20px
			img
				border-radius: 5px
				max-height: 100%
			+media-breakpoint-down(xs)
				margin-left: 0
		&-submit
			max-width: 162px
			margin-top: 0
			margin-left: 20px
			+media-breakpoint-down(xs)
				margin-top: 20px
				margin-left: auto
				margin-right: auto
	&-bottom
		align-items: center
		justify-content: space-between
		+media-breakpoint-down(md)
			justify-content: center
		.form-checkbox-label
			margin-bottom: 0
		&-submit
			display: flex
			+media-breakpoint-down(xs)
				flex-direction: column
				justify-content: center


/* ==========================================================================
	 Page Settings (Sorting, products display etc.)
	 ========================================================================== */
.page-settings
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	align-items: center
	margin-bottom: 40px
	padding: 20px 20px 0
	border-radius: 5px
	box-shadow: 0px 3px 24px 2px rgba(68, 68, 79, 0.08)
	background-color: $white
	
	// Tool: Per page
	.shop-per-page
		padding-bottom: 20px
		+media-breakpoint-down(xs)
			width: 100%
		&-form
			.form-group
				display: flex
				align-items: center
				+media-breakpoint-down(xs)
					flex-wrap: wrap
			label
				flex: 0 0 auto
				margin-right: 15px
				margin-bottom: 0
				+media-breakpoint-down(xs)
					flex: 0 0 100%
					margin-right: 0
					margin-bottom: 6px
			.form-select
				min-width: 380px
				margin-bottom: 0
				border: 1px solid $border
				background-color: $white
				+media-breakpoint-down(lg)
					min-width: 240px
				+media-breakpoint-down(sm)
					min-width: auto

	// Tool: View
	.shop-view
		display: flex
		align-items: center
		padding-bottom: 20px
		&-label
			flex: 0 0 auto
			margin-right: 15px
		&-select
			display: flex
			padding: 5px
			border-radius: 5px
			border: 1px solid $border
			background-color: $white
		&-button
			display: inline-flex
			align-items: center
			justify-content: center
			width: 30px
			height: 30px
			border-radius: 5px
			background-color: $trsp
			color: #d1d0d2
			font-size: 18px
			&:not(:last-child)
				margin-right: 5px
			&:hover:not(.shop-view-button--selected)
				color: $accent
			&--selected
				background-color: $accent
				color: $white