@import '../components/breadcrumbs'
@import '../components/pagination'
@import 'article'
@import 'aside'
@import 'widget'
@import 'quick-search'

.site-main
	padding-top: 40px


/* ==========================================================================
	 Page title
	 ========================================================================== */
.page-title
	position: relative
	margin-top: 40px
	margin-bottom: 40px
	padding-bottom: 10px
	+media-breakpoint-down(xs)
		font-size: 22px
	&::after
		content: ''
		position: absolute
		left: 0
		right: 0
		bottom: 0
		width: 67px
		height: 2px
		margin: 0 auto
		background-color: $accent


/* ==========================================================================
	 Post image
	 ========================================================================== */
.post-image
	position: relative
	height: 290px
	+media-breakpoint-down(sm)
		height: 265px
	+media-breakpoint-down(xs)
		height: 225px
	img
		width: 100%
		height: 100%
		border-radius: 5px
		object-fit: cover


/* ==========================================================================
	 Post published
	 ========================================================================== */
.post-published
	margin-top: 30px
	+media-breakpoint-down(sm)
		margin-top: 20px
	.date
		display: inline-flex
		align-items: center
		padding: 10px 20px
		border-radius: 5px
		background-color: #ede6f0
		color: $accent
		line-height: 1
		font-weight: 500
		white-space: nowrap
		.icon
			margin-right: 8px


/* ==========================================================================
	 Page navigation (MenuSpy etc.)
	 ========================================================================== */
.page-navigation
	position: sticky
	top: 102px
	flex: 0 0 auto
	width: 170px
	+media-breakpoint-down(sm)
		width: 100%
		margin-top: 30px
	&-list
		border-radius: 5px
		> li
			background-color: #f5f5f5
			&:not(:last-child)
				border-bottom: 1px solid $border
			&:hover:not(.active)
				border-bottom-color: $border
			> a
				position: relative
				display: block
				padding: 30px 20px
				font-weight: 600
				line-height: 1.3
				+media-breakpoint-down(sm)
					padding: 26px 20px
				+media-breakpoint-down(xxs)
					padding: 20px 15px
					font-size: 13px
				&::after
					content: ''
					position: absolute
					left: 0
					bottom: 0
					width: 100%
					height: 2px
					background-color: $accent
					transform: scaleX(0)
					transform-origin: left center
					opacity: 0
					transition: opacity .25s ease .25s, transform .3s ease .185s
				&.active
					color: $accent
					&::after
						transform: scaleX(1)
						opacity: 1


/* ==========================================================================
	 Post section
	 ========================================================================== */
.post-section
	&:not(:last-child)
		margin-bottom: 40px
	&-head
		display: flex
		margin-bottom: 30px
		.head-icon
			flex: 0 0 auto
			display: inline-flex
			width: 34px
			height: 34px
			align-items: center
			justify-content: center
			margin-right: 16px
			border: 1px solid $border
			border-radius: 5px
			background-color: $white
			color: $accent
			font-size: 18px
		.head-title
			margin-bottom: 0
			padding-top: 2px
			+media-breakpoint-down(md)
				padding-top: 5px
			+media-breakpoint-down(xs)
				padding-top: 7px
	&-title
		position: relative
		margin-bottom: 40px
		padding-bottom: 10px
		text-align: center
		&::after
			content: ''
			position: absolute
			left: 0
			right: 0
			bottom: 0
			width: 50px
			height: 2px
			margin: 0 auto
			background-color: $accent


/* ==========================================================================
	 Post navigation (Prev/Next article)
	 ========================================================================== */
.post-navigation
	display: flex
	margin-top: 45px
	+media-breakpoint-down(sm)
		margin-top: 30px
	&-prev,
	&-next
		flex: 0 1 50%
		.btn
			display: inline-flex
			align-items: center
			box-shadow: $box-shadow
			.icon
				font-size: 8px
			+media-breakpoint-down(sm)
				width: 48px
				min-width: auto
				height: 48px
				padding: 0
				background-color: $accent
				color: $white
				&:hover
					background-color: $orange
				span
					display: none
	&-prev
		.btn
			.icon
				transform: scaleX(-1)
	&-archive
	&-next
		text-align: right
		.btn
			span
				margin-right: 10px


/* ==========================================================================
	 Page form
	 ========================================================================== */
.page-form
	position: relative
	padding: 80px 45px
	border-radius: 10px
	background: $accent url('../images/form-bg.jpg') no-repeat center/cover
	+media-breakpoint-down(sm)
		padding: 50px 30px
	+media-breakpoint-down(xs)
		padding: 40px 0
		background: none
		&::before
			content: ''
			position: absolute
			top: 0
			left: -25px
			right: -25px
			bottom: 0
			display: block
			background: $accent url('../images/form-bg.jpg') no-repeat center/cover
	&-title
		position: relative
		margin-bottom: 40px
		padding-bottom: 10px
		color: $white
		text-align: center
		+media-breakpoint-down(xs)
			font-size: 22px
		&::after
			content: ''
			position: absolute
			left: 0
			right: 0
			bottom: 0
			width: 50px
			height: 2px
			margin: 0 auto
			background-color: $white
	.form
		&-control
			height: 54px
			background-color: $white
			line-height: 54px
			+media-breakpoint-down(xs)
				height: 46px
				line-height: 44px
		&-textarea
			background-color: $white
		&-captcha
			height: 50px
			margin-left: 20px
			img
				border-radius: 5px
				max-height: 100%
			+media-breakpoint-down(xs)
				margin-left: 0
		&-submit
			max-width: 162px
			margin-top: 0
			margin-left: 20px
			+media-breakpoint-down(xs)
				margin-top: 20px
				margin-left: auto
				margin-right: auto
	&-bottom
		align-items: center
		justify-content: space-between
		+media-breakpoint-down(md)
			justify-content: center
		.form-checkbox-label
			margin-bottom: 0
		&-submit
			display: flex
			+media-breakpoint-down(xs)
				flex-direction: column
				justify-content: center


/* ==========================================================================
	 Page Settings (Sorting, products display etc.)
	 ========================================================================== */
.page-settings
	margin-bottom: 40px
	&-wrapper
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
		padding: 20px 20px 0
		border-radius: 5px
		box-shadow: $box-shadow
		background-color: $white
	&-row
		display: flex
		align-items: center
		justify-content: space-between
		width: 100%
		+media-breakpoint-down(sm)
			flex-wrap: wrap
		&:not(:last-child)
			margin-bottom: 20px
			border-bottom: 1px solid $border
		> *
			padding-left: 10px
			padding-right: 10px
			padding-bottom: 20px

	// Tool: Sort by
	.shop-sort
		display: inline-flex
		+media-breakpoint-down(xs)
			flex-wrap: wrap
		&-label
			flex: 0 0 auto
			margin-right: 15px
		&-list
			display: inline-flex
			flex-wrap: wrap
			> a
				color: rgba($black, 0.8)
				font-weight: 500
				&:not(:last-child)
					margin-right: 15px
				&:hover
					color: $orange
	
	// Tool: Per page
	.shop-per-page
		+media-breakpoint-down(xs)
			width: 100%
		&-form
			.form-group
				display: flex
				align-items: center
				+media-breakpoint-down(xs)
					flex-wrap: wrap
			label
				flex: 0 0 auto
				margin-right: 15px
				margin-bottom: 0
				+media-breakpoint-down(xs)
					flex: 0 0 100%
					margin-right: 0
					margin-bottom: 6px
			.form-select
				min-width: 380px
				margin-bottom: 0
				border: 1px solid $border
				background-color: $white
				+media-breakpoint-down(lg)
					min-width: 240px
				+media-breakpoint-down(sm)
					min-width: auto

	// Tool: View
	.shop-view
		position: relative
		top: -5px
		display: flex
		align-items: center
		margin-bottom: -10px
		+media-breakpoint-down(xs)
			display: none
		&-label
			flex: 0 0 auto
			margin-right: 15px
			+media-breakpoint-down(xxs)
				display: none
		&-select
			display: flex
			padding: 5px
			border-radius: 5px
			border: 1px solid $border
			background-color: $white
		&-button
			display: inline-flex
			align-items: center
			justify-content: center
			width: 30px
			height: 30px
			border-radius: 5px
			background-color: $trsp
			color: #d1d0d2
			font-size: 18px
			&:not(:last-child)
				margin-right: 5px
			&:hover:not(.shop-view-button--selected)
				color: $accent
			&--selected
				background-color: $accent
				color: $white

	// Found products
	.shop-found
		display: inline-flex
		&-label
			margin-right: 15px

	// Show products
	.shop-show
		display: inline-flex
		&-label
			margin-right: 15px
		&-list
			display: inline-flex
			align-items: center
		&-item
			padding: 0 12px
			border-right: 1px solid $border
			color: rgba($black, 0.8)
			font-weight: 500
			line-height: 1
			&:last-child
				padding-right: 0
				border-right: 0
			&:hover
				color: $orange
			&--selected
				pointer-events: none
				color: $accent
	
	// View all button
	&-view-all
		margin-top: 20px
		text-align: right
		+media-breakpoint-down(sm)
			display: none


/* ==========================================================================
	Shop products
	========================================================================== */
.shop-products
	margin-top: 50px
	+media-breakpoint-down(md)
		margin-top: 30px
	.products-list
		margin-left: -5px
		margin-right: -5px
		> [class*="col"]
			padding-left: 5px
			padding-right: 5px
		.card-product
			width: 100%
	.show-more
		margin-top: 10px


/* ==========================================================================
	 Post SEO text
	 ========================================================================== */
.page-seo
	article
		color: #736f75