@import '../helpers/helpers'

.compare
	&-header
		display: flex
		flex-wrap: nowrap
		+media-breakpoint-down(xs)
			display: block
		&-actions
			width: 328px
			display: flex
			flex-direction: column
			justify-content: space-between
			+media-breakpoint-down(xs)
				width: 100%
				margin-bottom: 40px
			.btn
				width: 230px
				+media-breakpoint-down(xs)
					width: 100%
			.compare-categories
				.form-select
					width: 230px
					height: 48px
					border: 1px solid $accent
					background-color: $white
					background-position-y: 18px
					line-height: 46px
					+media-breakpoint-down(xs)
						width: 100%
		&-products
			flex: 0 0 auto
			+media-breakpoint-down(xs)
				max-width: 290px
				margin-left: auto
				margin-right: auto
			.products-slider
				position: relative
				width: 842px
				+media-breakpoint-down(lg)
					width: 632px
				+media-breakpoint-down(md)
					width: 432px
				+media-breakpoint-down(sm)
					width: 232px
				+media-breakpoint-down(xs)
					width: 100%
				&-container
					margin-top: -10px
					padding-top: 10px
					+media-breakpoint-down(sm)
						padding-right: 6px
						margin-right: -6px
				.swiper-button-prev
					left: -22px
				.swiper-button-next
					right: -22px
			.swiper-slide
				&:first-child
					.card-product
						border-left: 1px solid $border
				&:not(.swiper-slide-visible)
					+media-breakpoint-up(md)
						.card-product
							.card-badge
								visibility: hidden
								opacity: 0
								transition: $trs
					+media-breakpoint-down(sm)
						.card-product
							visibility: hidden
							opacity: 0
			.card-product
				width: auto
				border-radius: 0
				border: 1px solid $border
				border-left: 0
				box-shadow: none
				+media-breakpoint-down(sm)
					border-left: 1px solid $border
				&:hover
					z-index: 1
				.card-actions
					flex-wrap: nowrap
					.order-btn
						width: 106px
						margin-top: 0
						&._active
							flex-direction: column
							.icon
								margin-right: 0
								margin-bottom: 4px
							span
								font-weight: 400
					.wishlist-btn
						width: 48px
						height: 48px
						margin-bottom: 0
	// Compare Table
	&-table
		display: flex
		margin-top: 20px
		+media-breakpoint-down(xs)
			display: block
		&-keys
			width: 328px
			+media-breakpoint-down(xs)
				display: none
		&-key
			display: flex
			align-items: center
			height: 68px
			padding: 0 20px
			color: $black
			font-weight: 500
			line-height: 1.2
			&:nth-child(odd)
				background-color: $white
			&:nth-child(even)
				background-color: #f8f6f8
		&-values
			flex: 0 0 auto
			position: relative
			width: 842px
			margin-bottom: -30px
			padding-bottom: 30px
			+media-breakpoint-down(lg)
				width: 632px
			+media-breakpoint-down(md)
				width: 432px
			+media-breakpoint-down(sm)
				width: 232px
			+media-breakpoint-down(xs)
				width: auto
				border-top: 1px solid $border
			.swiper-slide-active
				+media-breakpoint-down(sm)
					.compare-table-value
						border-right: 1px solid $border
			.swiper-scrollbar
				left: 0
				bottom: 0
				width: 100%
		&-value
			overflow: hidden
			position: relative
			display: flex
			align-items: center
			height: 68px
			padding: 0 18px
			border-left: 1px solid $border
			color: $black
			font-weight: 500
			line-height: 1.2
			&:nth-child(odd)
				background-color: $white
			&:nth-child(even)
				background-color: #f8f6f8
			+media-breakpoint-down(xs)
				display: flex
				flex-direction: column
				align-items: flex-start
				height: auto
				padding-top: 18px
				padding-bottom: 18px
				&:last-child
					border-bottom: 1px solid $border
				&::before
					content: attr(data-compare-title)
					display: block
					margin-bottom: 5px
					color: rgba($black, 0.5)
					font-size: 14px