@import '../helpers/helpers'

$container-width: 1270px

.compare
	&-header
		display: flex
		flex-wrap: nowrap
		&-actions
			width: 328px
			display: flex
			flex-direction: column
			justify-content: space-between
			.btn
				width: 230px
			.compare-categories
				.form-select
					width: 230px
					height: 48px
					border: 1px solid $accent
					background-color: $white
					background-position-y: 18px
					line-height: 46px
		&-products
			flex: 0 1 auto
			.products-slider
				position: relative
				width: 841px
				&-container
					margin-top: -10px
					padding-top: 10px
				.swiper-button-prev
					left: -22px
				.swiper-button-next
					right: -22px
			.swiper-slide
				width: 210px !important
				&:first-child
					padding-left: 1px
					.card-product
						border-left: 1px solid $border
			.card-product
				border-radius: 0
				border: 1px solid $border
				border-left: 0
				box-shadow: none
				&:hover
					z-index: 1
				.card-actions
					flex-wrap: nowrap
					.order-btn
						width: 106px
						margin-top: 0
						&._active
							flex-direction: column
							.icon
								margin-right: 0
								margin-bottom: 4px
							span
								font-weight: 400
					.wishlist-btn
						width: 48px
						height: 48px
						margin-bottom: 0
	// Compare Table
	&-table
		display: flex
		margin-top: 20px
		&-keys
			width: 328px
		&-key
			display: flex
			align-items: center
			height: 68px
			padding: 0 20px
			color: $black
			font-weight: 500
			line-height: 1.2
			&:nth-child(odd)
				background-color: $white
			&:nth-child(even)
				background-color: #f8f6f8
		&-values
			position: relative
			width: 841px
			margin-bottom: -30px
			padding-bottom: 30px
			.swiper-slide
				width: 210px !important
			.swiper-scrollbar
				left: 0
				bottom: 0
				width: 100%
		&-value
			overflow: hidden
			display: flex
			align-items: center
			height: 68px
			padding: 0 18px
			border-left: 1px solid $border
			color: $black
			font-weight: 500
			line-height: 1.2
			&:nth-child(odd)
				background-color: $white
			&:nth-child(even)
				background-color: #f8f6f8
