@import '../helpers/helpers'

.product-single
	&-left
		+media-breakpoint-down(lg)
			margin-bottom: 30px
	&-right

	article, .article
		blockquote, img, ul, ol, table, p
			margin-top: 20px
			margin-bottom: 0

	// Page navigation
	.page-navigation
		+media-breakpoint-down(sm)
			margin-top: 0
		&-list > li > a
			padding-top: 18px
			padding-bottom: 18px
		+media-breakpoint-down(lg)
			width: 100%
			&-list
				display: none
				overflow: hidden
				margin-top: 10px
				border-radius: 5px

	// Product box (helper class)
	.product-box
		padding: 25px 20px
		border-radius: 5px
		border: 1px solid $border
		background-color: $white

	// Product title
	.product-title
		margin-bottom: 18px

	// Product Main wrapper (2 columns)
	.product-main
		&-left,
		&-right
			margin-bottom: 50px
		// &-left
		// 	position: sticky
		// 	top: 92px
		// 	height: 100%
		&-right
			+media-breakpoint-down(md)
				margin-top: 50px
				padding-left: 0
				padding-right: 0

	// Product image
	.product-preview
		padding-bottom: 30px
		&-head
			display: flex
			align-items: flex-end
			justify-content: space-between
			line-height: 1
			.product-sku,
			.product-code
				color: $black
				font-weight: 600
				> span
					color: rgba($black, 0.8)
		&-viewport
			position: relative
			margin-top: 18px
		&-badge
			pointer-events: none
			user-select: none
			position: absolute
			top: -5px
			right: 5px
			z-index: 3
			display: flex
			+media-breakpoint-down(xs)
				display: none
			.badge
				position: relative
				width: 130px
				height: 36px
				margin-right: 10px
				color: $white
				font-size: 9px
				font-weight: 400
				line-height: 36px
				text-align: center
				text-transform: uppercase
				letter-spacing: 0.2px
				&::before
					content: ''
					position: absolute
					top: 0
					left: 0
					right: 0
					bottom: 0
					z-index: -1
					mask: url('../../images/product-single-badge.svg') no-repeat 100% 100%
					mask-size: cover
				&--green::before
					background-image: linear-gradient(-248deg, #29b153 0%, #36a358 100%)
				&--orange::before
					background-image: linear-gradient(-248deg, #f98221 0%, #e8780c 100%)
				&--red::before
					background-image: linear-gradient(-248deg, #e53237 0%, #df2134 100%)
				&--blue::before
					background-image: linear-gradient(-248deg, #00bbdf 0%, #069cb9 100%)
		&-photo
			&-slider
				width: 520px
				border-radius: 5px
				border: 1px solid $border
				background-color: $white
				+media-breakpoint-down(lg)
					width: 100%
			&-slide
				position: relative
				display: flex
				align-items: center
				justify-content: center
				height: 316px
				padding: 45px
				box-sizing: border-box
				+media-breakpoint-down(xs)
					height: 240px
					padding: 20px
				&.has-video
					img:hover
						opacity: 0.75
					&::after
						content: ''
						pointer-events: none
						position: absolute
						top: 0
						left: 0
						right: 0
						bottom: 0
						border-radius: 5px
						background: url('../../images/icons/play.svg') no-repeat center/26px
				img
					width: 100%
					height: 100%
					object-fit: scale-down
			&-zoom
				margin-top: 30px
				> a
					display: flex
					align-items: center
					justify-content: center
					color: $accent
					font-weight: 600
					&:hover
						color: $orange
					.icon
						font-size: 16px
						margin-right: 12px
					span
						font-size: 13px
		&-thumbs
			margin-top: 30px
			+media-breakpoint-down(md)
				margin-top: 25px
			&-slider
				width: 520px
				+media-breakpoint-down(lg)
					width: 100%
				+media-breakpoint-down(xs)
					.swiper-pagination
						position: static
						margin-top: 15px
				.swiper-wrapper
					display: flex
					flex-wrap: wrap
					margin-left: -4px
					+media-breakpoint-down(lg)
						margin-left: 0
					+media-breakpoint-down(xs)
						flex-wrap: nowrap
			&-slide
				position: relative
				height: 60px
				box-sizing: border-box
				border-radius: 5px
				border: 1px solid $border
				transition: border .35s ease
				+media-breakpoint-up(xl)
					flex-basis: 66.25px
				+media-breakpoint-up(lg)
					flex-basis: 61px
				+media-breakpoint-up(md)
					flex-basis: 84.5px
				+media-breakpoint-up(sm)
					flex: 0 0 58.5px
					margin: 4px
				+media-breakpoint-down(xs)
					flex: 0 0 auto
					width: 100%
					height: 46px
					padding: 0
					margin: 0
				&:hover
					cursor: pointer
					border-color: rgba($accent, 0.35)
				&.swiper-slide-thumb-active
					border-color: $accent
				&.has-video
					&::after
						content: ''
						pointer-events: none
						position: absolute
						top: 0
						left: 0
						right: 0
						bottom: 0
						border-radius: 5px
						background: url('../../images/icons/play.svg') no-repeat center/12px
				> img
					position: absolute
					top: 50%
					left: 50%
					transform: translate(-50%, -50%)
					width: 85%
					height: 85%
					object-fit: scale-down

	// Product Attributes
	.product-attributes
		margin-top: 50px
		&-title
			margin-bottom: 18px
			line-height: 1.3
		&-table
			+media-breakpoint-down(xs)
				overflow-y: auto
				max-height: 308px
				border: 1px solid $border
			table
				font-size: 12px
				+media-breakpoint-down(xs)
					tbody
						tr
							background-color: $white
						td
							border-right: 0
							border-bottom: 1px solid $border
			.name,
			.value
				width: 25%
				padding-left: 20px
				padding-right: 20px
				color: $black
				+media-breakpoint-down(xs)
					display: block
					width: 100%
					padding: 10px 20px
			.name
				font-weight: 600
				+media-breakpoint-down(xs)
					padding-bottom: 0
			.hint
				position: relative
				top: -1px
				width: 14px
				height: 14px
				margin-left: 8px
				color: $accent
				font-size: 14px
				line-height: 1
				transition: color .35s ease
				&:hover
					cursor: help
					color: $orange

	// Product Summary
	.product-summary
		&-section
			position: relative
			&:not(:last-child)
				margin-bottom: 20px
				padding-bottom: 20px
				border-bottom: 1px solid $border
		// Product brand
		.product-brand
			position: absolute
			top: 0
			right: 0
			width: 80px
			height: 40px
			transition: opacity .35s ease
			&:hover
				opacity: 0.75
			img
				width: 100%
				height: 100%
				object-fit: scale-down
				object-position: right top
		// Product rating
		.product-rating
			display: flex
			align-items: center
			line-height: 1
			.comments
				display: inline-flex
				align-items: center
				margin-left: 14px
				color: #8a868b
				&-count
					margin-left: 5px
		// Product stock
		.product-stock
			display: flex
			align-items: center
			margin-top: 20px
			line-height: 1
			&::before
				content: ''
				display: inline-block
				width: 7px
				height: 7px
				margin-right: 5px
				border-radius: 50%
				background-color: #a3a1a5
		// Product price
		.product-price
			.discount
				display: flex
				align-items: center
				margin-bottom: 20px
				padding: 15px 20px
				border-radius: 5px
				border: 1px solid #e71836
				background-color: #f8f8f8
				line-height: 1.3
				&:hover
					border-color: #e71836
					background-color: #e71836
					.icon,
					.text,
					.text > strong, .text > b
						color: $white
				&:active
					background-color: darken(#e71836, 7%)
				.icon
					flex: 0 0 auto
					color: #e71836
					font-size: 30px
					transition: color .35s ease
					+media-breakpoint-down(xs)
						font-size: 24px
				.text
					max-width: 200px
					margin-left: 15px
					transition: color .35s ease
					> strong,
					> b
						margin-left: 6px
						font-weight: 600
						transition: color .35s ease
					+media-breakpoint-down(xs)
						font-size: 13px
			.price
				display: flex
				align-items: flex-end
				&-label
					margin-right: 14px
					color: rgba($black, 0.9)
					font-weight: 500
					line-height: 1
				&-wrapper
					display: flex
					flex-wrap: wrap
					align-items: flex-end
					line-height: 1
					> ins
						color: $black
						font-size: 26px
						font-weight: 700
						white-space: nowrap
						text-decoration: none
						+media-breakpoint-down(xs)
							font-size: 20px
					> del
						margin-left: 14px
						color: rgba($black, 0.9)
						font-size: 14px
						font-weight: 600
						white-space: nowrap
		// Product actions (order, wishlist, compare)
		.product-actions
			display: flex
			margin: 0 -5px
			.btn
				min-width: auto
			.wishlist-btn,
			.compare-btn
				width: 48px
				height: 48px
				margin: 0 5px
				line-height: 46px
				border-color: #3e3c41
				color: #78767a
				&:hover
					border-color: $accent
					color: $accent
				.icon
					flex: 0 0 auto
					font-size: 22px
					+media-breakpoint-down(xs)
						font-size: 18px
				&._active
					border-color: $accent
					background-color: $accent
					color: $white
			> form
				flex: 0 1 100%
				margin: 0 5px
				.order-btn
					width: 100%
					.icon
						flex: 0 0 auto
						display: none
						margin-right: 10px
					span
						margin-left: 0
					span.buy
						display: block
					span.added
						display: none
					&._active
						background-color: $green
						span.buy
							display: none
						span.added
							display: block
						.icon
							display: block
		// Product cheaper
		.product-cheaper
			margin-top: 10px
			.btn
				width: 100%
				font-weight: 600
		// Product quick order
		.product-quick-order
			margin-top: 26px
			.quick-order
				position: relative
				&-field
					display: flex
					align-items: center
				&-input
					flex: 1 1 auto
					width: 100%
					height: 46px
					border-radius: 5px 0 0 5px
					border: 1px solid #4a7c86
					border-right: 0
					background-color: $white
					line-height: 44px
					+media-breakpoint-down(xs)
						padding-left: 15px
						padding-right: 15px
					&:focus:required:invalid
						border-color: $trsp
						box-shadow: 0 0 0 1px red
					&:required:valid
						box-shadow: none
				&-btn
					flex: 1 1 auto
					width: 100%
					min-width: auto
					height: 46px
					padding-left: 10px
					padding-right: 10px
					border-radius: 0 5px 5px 0
					line-height: 1
					+media-breakpoint-down(xs)
						width: 160px
						padding-left: 10px
						padding-right: 10px
						white-space: normal
					+media-breakpoint-down(xxs)
						width: 120px
						padding-left: 6px
						padding-right: 6px

	// Product Max discount
	.product-max-discount
		display: flex
		align-items: center
		margin-top: 30px
		padding: 25px 20px
		border-radius: 5px
		border: 1px solid #e71836
		background-color: $white
		line-height: 1.3
		+media-breakpoint-down(xs)
			padding: 15px 20px
		.icon-border
			flex: 0 0 auto
			.icon
				color: #e71836
				font-size: 16px
				transition: color .35s ease
		.text
			margin-left: 15px
			transition: color .35s ease
			+media-breakpoint-down(xs)
				margin-left: 10px
				font-size: 13px
			> strong,
			> b
				margin-left: 6px
				font-weight: 600
				transition: color .35s ease

	// Product analog
	.product-analog
		margin-top: 50px
		&-title
			margin-bottom: 18px
			line-height: 1.3
		&-wrapper
			padding: 30px 20px
			border-radius: 5px
			border: 1px solid $border
			background-color: $white
		&-item
			display: flex
			align-items: center
			&:not(:last-child)
				margin-bottom: 20px
			.analog-photo
				flex: 0 0 auto
				position: relative
				width: 96px
				height: 110px
				border-radius: 5px
				border: 1px solid $border
				+media-breakpoint-down(xs)
					width: 76px
					height: 80px
				img
					width: 100%
					height: 100%
					padding: 10px
					object-fit: scale-down
			.analog-meta
				margin-left: 20px
				+media-breakpoint-down(xs)
					margin-left: 15px
				.title
					display: block
					margin-bottom: 6px
					line-height: 1.2	
				.price
					display: flex
					flex-direction: column
					&-label
						margin-bottom: 6px
						color: rgba($black, 0.9)
						font-size: 13px
						font-weight: 500
						line-height: 1
					&-wrapper
						display: flex
						flex-wrap: wrap
						align-items: flex-end
						line-height: 1
						> ins
							margin-right: 8px
							color: $black
							font-size: 18px
							font-weight: 700
							white-space: nowrap
							text-decoration: none
							+media-breakpoint-down(xs)
								font-size: 16px
						> del
							color: rgba($black, 0.9)
							font-size: 14px
							font-weight: 600
							white-space: nowrap
							+media-breakpoint-down(xs)
								font-size: 12px
				.read-more
					margin-top: 12px

	// Product Variative
	.product-variative
		margin-top: 50px
		// Scrollbar
		*
			scrollbar-width: thin
			scrollbar-color: $accent $border
		::-webkit-scrollbar
			width: 4px
		::-webkit-scrollbar-track
			border-radius: 4px
			background-color: $border
		::-webkit-scrollbar-thumb
			background-color: $accent
			border-radius: 20px
			&:hover
				background-color: $orange
		&-title
			margin-bottom: 18px
			line-height: 1.3
		&-wrapper
			padding-left: 5px
			padding-right: 5px
			+media-breakpoint-down(xs)
				padding-top: 20px
				padding-bottom: 20px
		&-list
			overflow-y: auto
			max-height: 785px
			padding-left: 15px
			padding-right: 15px
			+media-breakpoint-down(md)
				max-height: 320px
		&-item
			position: relative
			display: flex
			align-items: center
			margin-top: 20px
			padding-bottom: 20px
			&:first-child
				margin-top: 0
			&:last-child
				padding-bottom: 0
			&:not(:last-child)
				border-bottom: 1px solid $border
		// Tooltip HTML
		&-comment,
		&-info
			display: none
		&-photo
			flex: 0 0 auto
			position: relative
			width: 48px
			height: 48px
			&[data-toggle="variative-comment"]:hover
				cursor: help
			&._added
				&::after
					content: ''
					position: absolute
					top: 0
					left: 0
					right: 0
					bottom: 0
					border-radius: 5px
					background: #686868 url('../../images/icons/done-green.svg') no-repeat center/25px
			img
				width: 100%
				height: 100%
				border-radius: 5px
				object-fit: cover
		&-meta
			flex: 1 1 auto
			margin-left: 10px
			.title,
			.sku,
			.price
				display: block
				font-size: 12px
				line-height: 1.2
			.price
				margin-top: 10px
		&-order
			flex: 0 0 100px
			text-align: center
			.not-available
				display: block
				font-size: 13px
				line-height: 1.2
			.btn
				width: 100%
				min-width: auto

	// Product Info
	.product-info
		margin-top: 50px
		&-list
		&-item
			display: flex
			align-items: center
			&:not(:last-child)
				margin-bottom: 20px
		&-icon
			flex: 0 0 auto
			margin-right: 10px
			font-size: 15px
		&-text
			display: flex
			align-items: center
			line-height: 1.2
			.print
				color: $black
				font-size: 14px
				&:hover
					color: $accent
				+media-breakpoint-down(xs)
					font-size: 13px
			.text
				display: block
				color: $black
				> a
					border-bottom: 1px dashed $accent
					color: $accent
					&:hover
						color: $orange
						border-bottom-color: $orange
				+media-breakpoint-down(xs)
					font-size: 13px
			.hint
				flex: 0 0 auto
				margin-left: 8px
				color: $accent
				font-size: 18px
				line-height: 1
				transition: color .35s ease
				&:hover
					cursor: help
					color: $orange
				+media-breakpoint-down(xs)
					font-size: 14px

	// Product Included
	.product-included
		&-title
			margin-bottom: 18px
			line-height: 1.3
		&-wrapper
			display: flex
			flex-wrap: wrap
			padding: 30px 23px
			border-radius: 5px
			box-shadow: $box-shadow
			background-color: $white
			+media-breakpoint-down(md)
				padding: 15px 10px
		&-item
			flex: 0 0 16.66667%
			display: flex
			flex-direction: column
			padding: 10px 17px
			+media-breakpoint-down(md)
				padding: 10px
			+media-breakpoint-down(sm)
				flex-basis: 33.33333%
			+media-breakpoint-down(xs)
				flex-basis: 50%
			+media-breakpoint-down(xxs)
				flex-basis: 100%
			.photo
				position: relative
				height: 105px
				border-radius: 5px
				border: 1px solid $border
				+media-breakpoint-down(xs)
					width: 125px
					margin: 0 auto
				> img
					width: 100%
					height: 100%
					padding: 18px
					object-fit: scale-down
			.title
				margin-top: 20px
				text-align: center
				line-height: 1.2
				+media-breakpoint-down(md)
					margin-top: 12px
					font-size: 14px

	// Product Description & Advantages
	.product-description,
	.product-advantages
		margin-top: 50px
		&-title
			margin-bottom: 0

	// Product Complectation
	.product-complect
		margin-top: 50px
		&._sticky
			position: sticky
			top: 52px
			z-index: 3
			.product-complect-title
				opacity: 0
				transform: translate3d(0, -20px, 0)
			.product-complect-wrapper
				border-color: $accent
		*
			scrollbar-width: thin
			scrollbar-color: $accent $border
		::-webkit-scrollbar
			width: 4px
			height: 4px
		::-webkit-scrollbar-track
			border-radius: 4px
			background-color: $border
		::-webkit-scrollbar-thumb
			background-color: $accent
			border-radius: 20px
			&:hover
				background-color: $orange
		&-title
			margin-bottom: 18px
			transition: $trs
		&-wrapper
			padding: 22px 40px 30px
			border-radius: 5px
			border: 1px solid $white
			box-shadow: $box-shadow
			background-color: $white
			transition: border .35s ease
			+media-breakpoint-down(md)
				padding: 20px 20px 30px
			+media-breakpoint-down(xs)
				padding-bottom: 20px
		&-head
			display: flex
			align-items: center
			justify-content: space-between
			.title
				line-height: 1.2
				+media-breakpoint-down(sm)
					font-size: 14px
			.order
				&-btn
					width: 100%
					min-width: auto
					.icon
						flex: 0 0 auto
						display: none
						margin-right: 10px
					span
						margin-left: 0
					span.buy
						display: block
					span.added
						display: none
					&._active
						background-color: $green
						span.buy
							display: none
						span.added
							display: block
						.icon
							display: block
		&-body
			display: flex
			justify-content: center
			align-items: center
			margin-top: 16px
			+media-breakpoint-down(xs)
				display: block
		&-list
			max-width: 720px
			overflow-x: auto
			white-space: nowrap
		&-item
			display: inline-flex
			position: relative
			width: 115px
			height: 105px
			margin-left: 72px
			border-radius: 5px
			border: 1px solid $border
			transition: border .35s ease
			+media-breakpoint-down(sm)
				width: 60px
				height: 60px
				margin-left: 64px
			.btn-remove
				position: absolute
				top: 6px
				right: 6px
				z-index: 2
				width: 18px
				min-width: auto
				height: 18px
				padding-left: 0
				padding-right: 0
				border-radius: 2px
				background-color: $white
				line-height: 16px
				will-change: transform
				visibility: hidden
				opacity: 0
				transform: translate3d(3px, 0, 0)
				.icon
					font-size: 8px
				&:hover
					background-color: #e71836
			> img
				width: 100%
				height: 100%
				padding: 16px
				object-fit: scale-down
				+media-breakpoint-down(sm)
					padding: 8px
			&:hover
				border-color: darken($border, 10%)
				.btn-remove
					visibility: visible
					opacity: 1
					transform: translate3d(0, 0, 0)
			&:first-child
				margin-left: 0
				&::before
					display: none
			&::before
				content: '+'
				position: absolute
				top: 50%
				right: 100%
				z-index: 1
				display: inline-flex
				align-items: center
				justify-content: center
				width: 48px
				height: 48px
				margin-top: -24px
				margin-left: 15px
				margin-right: 15px
				border-radius: 5px
				border: 1px solid $border
				background-color: $white
				color: $accent
				font-size: 30px
				font-weight: 500
				+media-breakpoint-down(sm)
					height: 40px
					width: 40px
					margin-top: -20px
					font-size: 22px
		&-summary
			flex: 0 0 auto
			position: relative
			top: -4px
			display: inline-flex
			justify-content: center
			align-items: center
			height: 48px
			margin-left: 76px
			padding-left: 12px
			padding-right: 12px
			border-radius: 5px
			border: 1px solid $border
			background-color: $white
			color: $accent
			font-size: 18px
			font-weight: 600
			text-align: center
			line-height: 1
			+media-breakpoint-down(sm)
				height: 40px
				margin-left: 68px
				font-size: 15px
			+media-breakpoint-down(xs)
				margin-top: 20px
				margin-left: 54px
			&::before
				content: '='
				position: absolute
				top: 50%
				right: 100%
				z-index: 1
				display: inline-flex
				align-items: center
				justify-content: center
				width: 48px
				height: 48px
				margin-top: -24px
				margin-right: 15px
				border-radius: 5px
				border: 1px solid $border
				background-color: $white
				color: $accent
				font-size: 30px
				font-weight: 500
				+media-breakpoint-down(sm)
					height: 40px
					width: 40px
					margin-top: -20px
					font-size: 22px
			.value
				display: inline-block
			.currency
				display: inline-block
				margin-left: 4px

	// Product Upsells
	.product-upsells
		position: relative
		margin-top: 50px
		*
			scrollbar-width: thin
			scrollbar-color: $accent $border
		::-webkit-scrollbar
			width: 4px
			height: 4px
		::-webkit-scrollbar-track
			border-radius: 4px
			background-color: $border
		::-webkit-scrollbar-thumb
			background-color: $accent
			border-radius: 20px
			&:hover
				background-color: $orange
		&-title
			margin-bottom: 18px
			line-height: 1.3
		&-wrapper
			padding: 30px 40px
			border-radius: 5px
			box-shadow: $box-shadow
			background-color: $white
			+media-breakpoint-down(md)
				padding: 30px 20px
		&-section
			&:not(:last-child)
				margin-bottom: 30px
				padding-bottom: 30px
				border-bottom: 1px solid $border
				+media-breakpoint-down(sm)
					margin-bottom: 20px
					padding-bottom: 20px
		&-category
			margin-bottom: 0
		&-list
			.read-more
				margin-top: 20px
		&-item
			position: relative
			display: flex
			align-items: center
			margin-top: 20px
			padding: 18px 30px
			border-radius: 5px
			border: 1px solid $border
			background-color: $white
			+media-breakpoint-down(md)
				padding: 12px 20px
			+media-breakpoint-down(xs)
				flex-direction: column
				align-items: flex-start
				padding-left: 66px
			.product-checkbox
				position: absolute
				top: 50%
				left: 30px
				z-index: 2
				margin-top: -16px
				+media-breakpoint-down(md)
					left: 25px
				+media-breakpoint-down(sm)
					left: 20px
				.form-checkbox
					&-label
						margin: 0
						&::before,
						&::after
							width: 32px
							height: 32px
							background-color: $white
							+media-breakpoint-down(sm)
								width: 24px
								height: 24px
			.product-photo
				position: relative
				width: 100px
				height: 88px
				margin-left: 62px
				border-radius: 5px
				border: 1px solid $border
				+media-breakpoint-down(sm)
					margin-left: 44px
				+media-breakpoint-down(xs)
					margin-left: 0
					width: 60px
					height: 60px
				> img
					width: 100%
					height: 100%
					padding: 12px
					object-fit: scale-down
			.product-meta
				margin-left: 40px
				margin-right: 20px
				+media-breakpoint-down(md)
					margin-left: 20px
				+media-breakpoint-down(xs)
					margin-top: 15px
					margin-left: 0
				.title
					display: block
					line-height: 1.2
					+media-breakpoint-down(md)
						font-size: 14px
				.sku
					display: inline-flex
					margin-top: 20px
					line-height: 1.2
					> div
						&:not(:last-child)
							margin-right: 30px
					+media-breakpoint-down(md)
						font-size: 12px
					+media-breakpoint-down(xs)
						margin-top: 10px
						> div
							&:not(:last-child)
								margin-right: 10px
			.product-price
				flex: 0 0 auto
				margin-left: auto
				color: #a3a1a5
				+media-breakpoint-down(sm)
					span
						display: block
				+media-breakpoint-down(xs)
					margin-top: 10px
					margin-left: 0
					span
						display: inline-block

	// Product Delivery & Payments
	.product-delivery
		position: relative
		margin-top: 50px
		*
			scrollbar-width: thin
			scrollbar-color: $accent $border
		::-webkit-scrollbar
			width: 4px
			height: 4px
		::-webkit-scrollbar-track
			border-radius: 4px
			background-color: $border
		::-webkit-scrollbar-thumb
			background-color: $accent
			border-radius: 20px
			&:hover
				background-color: $orange
		&-title
			margin-bottom: 18px
			line-height: 1.3
		&-table
			overflow-x: auto
			max-width: 100%
			border-radius: 5px
			table
				+media-breakpoint-down(xs)
					width: 700px
				.delivery-order-to,
				.delivery-order-from
					font-size: 14px
					font-weight: 400
					+media-breakpoint-down(xs)
						font-size: 12px
				thead
					th
						padding: 14px 18px
						background-color: $accent
						text-align: center
				tbody
					th, td
						color: $black

	// Product Additional information
	.product-additional
		margin-top: 50px
		&-title
			margin-bottom: 18px
			line-height: 1.3
		&-list
			margin-bottom: -20px
			> [class*="col"],
			.col
				padding-bottom: 20px
				+media-breakpoint-down(xs)
					padding-bottom: 15px
		&-file
			display: flex
			align-items: center
			padding: 30px 20px 30px 30px
			border-radius: 5px
			box-shadow: $box-shadow
			background-color: $white
			+media-breakpoint-down(md)
				padding: 20px
			+media-breakpoint-down(xs)
				padding: 15px
			.file-type
				flex: 0 0 auto
				position: relative
				width: 48px
				height: 48px
				+media-breakpoint-down(sm)
					height: 40px
					height: 40px
				+media-breakpoint-down(xs)
					width: 36px
					height: 36px
				img
					width: 100%
					height: 100%
					object-fit: scale-down
			.file-title
				padding-left: 20px
				padding-right: 20px
				color: $black
				font-size: 16px
				font-weight: 500
				line-height: 1.2
				word-break: break-word
				+media-breakpoint-down(md)
					font-size: 14px
				+media-breakpoint-down(xs)
					padding-left: 15px
			.file-link
				margin-left: auto
				.btn
					min-width: 140px
					padding-left: 0
					padding-right: 0
					height: 46px
					line-height: 44px
					.icon
						font-size: 12px
					+media-breakpoint-down(md)
						min-width: 52px
						span
							display: none
					+media-breakpoint-down(xs)
						width: 36px
						min-width: auto
						height: 36px

	// Product Schemes
	.product-schemes
		margin-top: 50px
		&-title
			margin-bottom: 18px
			line-height: 1.3
		&-list
			margin-bottom: -30px
			> [class*="col"],
			.col
				padding-bottom: 30px
		&-item
			position: relative
			display: flex
			align-items: center
			justify-content: center
			padding: 25px
			border-radius: 5px
			box-shadow: $box-shadow
			background-color: $white
			+media-breakpoint-down(sm)
				padding: 0
			&::after
				content: '+'
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				display: flex
				align-items: center
				justify-content: center
				border-radius: 5px
				background-color: rgba(#4a7c86, 0.85)
				color: $white
				font-size: 32px
				font-weight: 400
				visibility: hidden
				opacity: 0
				transition: $trs
			.scheme-photo
				height: 150px
				padding: 14px
				border-radius: 5px
				border: 1px solid $border
				transition: border .35s ease
				+media-breakpoint-down(sm)
					height: 120px
					padding: 15px
					border: none
				> img
					width: 100%
					height: 100%
					object-fit: scale-down
					transform: scale(1.01)
					transition: transform .35s ease
			&:hover
				.scheme-photo
					border-color: $trsp
				&::after
					visibility: visible
					opacity: 1

	// Product Certificates
	.product-certificates
		margin-top: 50px
		&-title
			margin-bottom: 18px
			line-height: 1.3
		&-list
			margin-bottom: -30px
			> [class*="col"],
			.col
				padding-bottom: 30px
		&-item
			overflow: hidden
			position: relative
			display: flex
			align-items: center
			justify-content: center
			border-radius: 5px
			box-shadow: $box-shadow
			background-color: $white
			&::after
				content: '+'
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				display: flex
				align-items: center
				justify-content: center
				border-radius: 5px
				background-color: rgba(#4a7c86, 0.85)
				color: $white
				font-size: 32px
				font-weight: 400
				visibility: hidden
				opacity: 0
				transition: $trs
			&:hover
				&::after
					visibility: visible
					opacity: 1
			.scheme-photo
				height: 310px
				+media-breakpoint-down(md)
					height: 200px
				+media-breakpoint-down(sm)
					height: 140px
				+media-breakpoint-down(xs)
					height: 180px
				> img
					width: 100%
					height: 100%
					object-fit: cover
					transition: border .35s ease

	// Product Testimonials
	.product-testimonials
		// Customize card
		.testimonials-card
			position: relative
			margin-bottom: 30px
			padding: 30px 40px 40px
			border-radius: 5px
			box-shadow: $box-shadow
			background-color: $white
			+media-breakpoint-down(sm)
				padding: 30px
			+media-breakpoint-down(xs)
				padding: 30px 20px
			&-header
				display: flex
				align-items: center
				justify-content: space-between
				+media-breakpoint-down(lg)
					flex-direction: column
					align-items: flex-start
				.author
					.name
						margin-bottom: 8px
						line-height: 1.3
					.date
						display: flex
						align-items: center
						line-height: 1
						&-icon
							margin-right: 10px
							font-size: 12px
			&-body
				overflow: hidden
				max-height: 90px
				margin-top: 25px
				color: $black
				+media-breakpoint-down(xs)
					margin-top: 15px
				> p:last-child
					margin-bottom: 0
		// Customize section
		&-wrapper
			display: flex
			flex-direction: column
			align-items: center

	// Product Return
	.product-return
		&-wrapper
			display: flex
			+media-breakpoint-down(xs)
				flex-direction: column
		&-image
			flex: 0 0 auto
			display: flex
			align-items: center
			justify-content: center
			height: 100%
			padding: 30px
			border-radius: 5px
			box-shadow: $box-shadow
			background-color: $white
			+media-breakpoint-down(md)
				padding: 20px
			.photo
				position: relative
				width: 160px
				height: 220px
				padding: 20px
				border-radius: 5px
				border: 1px solid $border
				+media-breakpoint-down(xs)
					height: 140px
				> img
					width: 100%
					height: 100%
					object-fit: scale-down
		&-content
			margin-left: 30px
			+media-breakpoint-down(xs)
				margin-left: 0
			.article
				max-height: 245px
				+media-breakpoint-down(md)
					max-height: 220px

	// Popular Products slider
	.products-slider
		&-title
			margin-bottom: 18px
			line-height: 1.3
		&-inner
			position: relative
			.swiper-pagination
				position: static
				margin-top: 30px
		&-container
			margin: -25px 0
			padding: 25px 0
		.card-product
			width: 100%
			border: 1px solid $border
			.card-attributes
				display: none
			&:hover
				border-radius: 5px
				border-color: $accent
