@import '../helpers/helpers'

/* ==========================================================================
	 Testimonials rating (Summary, Quality)
	 ========================================================================== */
.testimonials-rating
	display: flex
	padding: 20px
	border-radius: 5px
	background-color: $white
	+media-breakpoint-down(sm)
		flex-direction: column
	+media-breakpoint-down(xs)
		border: 1px solid #b9b6b9
	// Summary rating
	.summary
		flex: 0 0 360px
		margin-right: 60px
		padding: 30px
		border-radius: 5px
		+media-breakpoint-down(md)
			flex: 0 0 300px
			margin-right: 30px
		+media-breakpoint-down(sm)
			flex: 0 0 auto
			margin-right: 0
			margin-bottom: 40px
		+media-breakpoint-down(xs)
			padding: 20px
		&--green
			background-color: rgba(#31a956, 0.1)
			.summary-average .rating
				background-color: #31a956
		&--yellow
			background-color: rgba(#ffc107, 0.1)
			.summary-average .rating
				background-color: #ffc107
		&--red
			background-color: rgba(#e01b31, 0.1)
			.summary-average .rating
				background-color: #e01b31
		&-all
			padding-bottom: 25px
			border-bottom: 1px solid #d8e0db
			.title
				color: $black
				font-size: 18px
				font-weight: 600
				line-height: 1.3
				+media-breakpoint-down(xs)
					font-size: 16px
				+media-breakpoint-down(xxs)
					font-size: 14px
				span
					color: rgba($black, 0.6)
					font-weight: 500
			.ratings
				margin-top: 10px
				&-star
					font-size: 18px
					&:not(.ratings-star--filled)
						color: rgba($black, 0.15)
		&-average
			padding-top: 20px
			.title
				color: $black
				font-size: 16px
				font-weight: 600
				line-height: 1
				+media-breakpoint-down(xxs)
					font-size: 14px
			.rating
				display: inline-flex
				align-items: center
				justify-content: center
				margin-top: 10px
				width: 75px
				height: 32px
				border-radius: 5px
				color: $white
				font-size: 16px
				font-weight: 600
				line-height: 1
	// Quality rating
	.quality
			flex: 1 1 100%
			padding-right: 45px
			+media-breakpoint-down(lg)
				padding-right: 0
			&-title
				color: $black
				font-size: 20px
				font-weight: 600
				line-height: 1.3
				+media-breakpoint-down(xs)
					font-size: 16px
			&-list
			&-item
				display: flex
				align-items: center
				justify-content: space-between
				width: 100%
				padding: 16px 0
				+media-breakpoint-down(lg)
					flex-direction: column
					align-items: flex-start
					&:last-child
						padding-bottom: 0
				&:not(:last-child)
					border-bottom: 1px solid $border
				&--green
					.rating-range-filled,
					.rating-average
						background-color: #31a956
				&--yellow
					.rating-range-filled,
					.rating-average
						background-color: #ffc107
				&--red
					.rating-range-filled,
					.rating-average
						background-color: #e01b31
				.label
					color: $textcolor
					font-weight: 600
					line-height: 1.2
					white-space: nowrap
					+media-breakpoint-down(xs)
						font-size: 13px
						font-weight: 500
				.rating
					display: flex
					align-items: center
					&-range
						display: flex
						> span
							width: 75px
							height: 6px
							margin: 0 5px
							border-radius: 3px
							+media-breakpoint-down(lg)
								width: 67px
								&:first-child
									margin-left: 0
							+media-breakpoint-down(md)
								width: 38px
							+media-breakpoint-down(sm)
								width: 67px
							+media-breakpoint-down(xs)
								width: 30px
							+media-breakpoint-down(xxs)
								width: 24px
								height: 5px
								margin: 0 3px
							&:not(.rating-range-filled)
								background-color: #dcdcdc
					&-average
						display: inline-flex
						align-items: center
						justify-content: center
						width: 75px
						height: 32px
						margin-left: 15px
						border-radius: 5px
						color: $white
						font-size: 16px
						font-weight: 600
						line-height: 1
						+media-breakpoint-down(xxs)
							margin-left: 6px


/* ==========================================================================
	 Testimonials form
	 ========================================================================== */
.testimonials-form
	&-rating
		width: 255px
		+media-breakpoint-down(lg)
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			width: 100%
		.form-group
			&:not(:first-child)
				margin-bottom: 6px
			.form-label
				margin-bottom: 6px
			+media-breakpoint-down(xs)
				flex: 0 0 50%
			+media-breakpoint-down(xxs)
				flex: 0 0 100%
				display: flex
				align-items: center
				margin-bottom: 12px
				&:not(:first-child)
					margin-bottom: 12px
				.form-label
					margin-right: 15px
					margin-bottom: 0
	.page-form-bottom
		+media-breakpoint-down(md)
			justify-content: flex-start
			.form-captcha
				margin-left: 0
		.form-submit
			width: 225px
			max-width: 100%
			margin-left: 30px
			padding: 0
			+media-breakpoint-down(xs)
				width: 165px
				margin-left: 0


/* ==========================================================================
	 Testimonials card
	 ========================================================================== */
.testimonials-card
	position: relative
	margin-bottom: 30px
	padding: 30px 40px 40px
	border-radius: 5px
	box-shadow: $box-shadow
	background-color: $white
	+media-breakpoint-down(sm)
		padding: 30px
	+media-breakpoint-down(xs)
		padding: 30px 20px
	&-header
		display: flex
		align-items: center
		justify-content: space-between
		+media-breakpoint-down(lg)
			flex-direction: column
			align-items: flex-start
		.author
			.name
				margin-bottom: 8px
				line-height: 1.3
			.date
				display: flex
				align-items: center
				line-height: 1
				&-icon
					margin-right: 10px
					font-size: 12px
		.summary
			display: flex
			flex-wrap: wrap
			+media-breakpoint-down(lg)
				margin-top: 16px
			&-item
				position: relative
				padding: 0 30px
				+media-breakpoint-down(lg)
					padding: 0 20px
					&:first-child
						padding-left: 0
					&:last-child
						padding-right: 0
				+media-breakpoint-down(sm)
					flex: 0 0 50%
					padding: 10px 0
					&::after
						display: none
				+media-breakpoint-down(xs)
					flex: 0 0 100%
					display: flex
					align-items: center
					justify-content: space-between
					padding: 6px 0
					.title
						margin-bottom: 0
						margin-right: 6px
						font-size: 13px
				&:not(:last-child)::after
					content: ''
					position: absolute
					top: 2px
					left: 100%
					width: 1px
					height: 42px
					background-color: $border
				.title
					margin-bottom: 10px
					line-height: 1
				.ratings
					&-star
						font-size: 18px
						+media-breakpoint-down(xxs)
							font-size: 16px
	&-body
		overflow: hidden
		max-height: 205px
		margin-top: 25px
		color: $black
		+media-breakpoint-down(xs)
			margin-top: 15px
		> p:last-child
			margin-bottom: 0



