$accent: #763a9c
$orange: #e78332
$black: #120c16
$white: #fff
$textcolor: #736f75
$border: #eee
$trsp: transparent
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family
$font: 'Gilroy', sans-serif
$fontsize: 14px
$trs: .3s ease