$accent: #763a9c
$orange: #e78332
$green: #29b153
$black: #120c16
$white: #fff
$textcolor: #736f75
$bodycolor: #fafafa
$border: #e7e7e7
$trsp: transparent
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family
$font: 'Gilroy', sans-serif
$fontsize: 14px
$trs: .35s ease

// Z-index
$z-index-header-mega-menu: 99
$z-index-header-search: 99
$z-index-header-search-backdrop: 98
$z-index-header-cart: 99
$z-index-stores-list: 98